#adspace {
  text-align: center;
}
#adspace a {
  float: left;
  width: 100%;
  text-align: center;
  /* 		@include section-margin-bottom;	 */
  margin-bottom: 54px;
}
#adspace .tatort-ad {
  height: 328px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  -webkit-animation: animatedBackground 20s ease-in-out infinite;
  -moz-animation: animatedBackground 20s ease-in-out infinite;
  animation: animatedBackground 20s ease-in-out infinite;
}
#adspace .tatort-ad .ad-content {
  text-align: right;
  padding: 30px 28px 0 55%;
}
#adspace .tatort-ad h3.book-title {
  text-transform: uppercase;
  font-size: 2.30769em;
  margin: 0 0 26px;
}
#adspace .tatort-ad p {
  font-size: 1.23077em;
  margin: 0;
}
#adspace .tatort-ad span {
  font-family: "minion-pro", serif;
  text-transform: uppercase;
  /* 			letter-spacing: em-calc(3); */
  display: block;
}
#adspace .tatort-ad span.price {
  font-size: 1.92308em;
  margin: 53px 0;
}
#adspace .holly-becker-ad {
  height: 328px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: 2463px 328px;
  -webkit-animation-name: animatedBackgroundLoop;
  -moz-animation-name: animatedBackgroundLoop;
  animation-name: animatedBackgroundLoop;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#adspace .holly-becker-ad .ad-content {
  text-align: right;
  padding: 30px 28px;
}
#adspace .holly-becker-ad h3.book-title {
  text-transform: uppercase;
  font-size: 2.15385em;
  margin: 0 0 15px;
}
#adspace .holly-becker-ad p {
  font-size: 1em;
  margin: 0;
}
#adspace .holly-becker-ad span {
  font-family: "minion-pro", serif;
  text-transform: uppercase;
  letter-spacing: 0.23077em;
  display: block;
  margin-top: 30px;
}
#adspace .holly-becker-ad span.price {
  font-size: 1.92308em;
  margin: 53px 0;
}
#adspace .archive-banner {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
}
#adspace .archive-banner h3, #adspace .archive-banner h4 {
  color: white;
  text-transform: uppercase;
  font-family: "minion-pro", serif;
  font-weight: normal;
  line-height: 1;
}
#adspace .archive-banner .ad-content {
  width: 50%;
  height: 300px;
}
#adspace .archive-banner .ad-content h3 {
  font-size: 6.84615em;
  letter-spacing: 0.15385em;
}
#adspace .archive-banner .ad-content h4 {
  font-size: 1em;
  letter-spacing: 0.30769em;
  margin: 0;
}
#adspace .archive-banner .ad-content p {
  font-size: 1em;
  margin-bottom: 0;
}
#adspace .books-ebook-banner .ad-content h3 {
  margin: 20px 0 30px;
}
#adspace .books-ebook-banner .ad-content h4 {
  margin-bottom: 80px;
}
#adspace .books-ebook-banner .ad-content span {
  padding: 0 30%;
}
#adspace .ebooks-book-banner .ad-content h3 {
  margin: 40px 0 30px;
}
#adspace .ebooks-book-banner .ad-content h4 {
  margin-top: 18px;
}
#adspace .ebooks-book-banner .ad-content .ad-text {
  margin: 0 21%;
}
#adspace .ebooks-book-banner .ad-content .ad-text h4 {
  float: left;
}
#adspace .ebooks-book-banner .ad-content .ad-text span {
  padding: 0;
  float: right;
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
    background-size: 100%;
  }

  15% {
    background-position: 0 0;
    background-size: 100%;
  }

  20% {
    background-position: 50% 0;
    background-size: 100%;
  }

  35% {
    background-position: 50% 0;
    background-size: 100%;
  }

  40% {
    background-position: 100% 0;
    background-size: 100%;
  }

  55% {
    background-position: 100% 0;
    background-size: 100%;
  }

  60% {
    background-position: 50% 0;
    background-size: 100%;
  }

  75% {
    background-position: 50% 0;
    background-size: 100%;
  }

  80% {
    background-position: 0% 0;
    background-size: 100%;
  }

  95% {
    background-position: 0% 0;
    background-size: 100%;
  }
}

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
    background-size: 100%;
  }

  15% {
    background-position: 0 0;
    background-size: 100%;
  }

  20% {
    background-position: 50% 0;
    background-size: 100%;
  }

  35% {
    background-position: 50% 0;
    background-size: 100%;
  }

  40% {
    background-position: 100% 0;
    background-size: 100%;
  }

  55% {
    background-position: 100% 0;
    background-size: 100%;
  }

  60% {
    background-position: 50% 0;
    background-size: 100%;
  }

  75% {
    background-position: 50% 0;
    background-size: 100%;
  }

  80% {
    background-position: 0% 0;
    background-size: 100%;
  }

  95% {
    background-position: 0% 0;
    background-size: 100%;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
    background-size: 100%;
  }

  15% {
    background-position: 0 0;
    background-size: 100%;
  }

  20% {
    background-position: 50% 0;
    background-size: 100%;
  }

  35% {
    background-position: 50% 0;
    background-size: 100%;
  }

  40% {
    background-position: 100% 0;
    background-size: 100%;
  }

  55% {
    background-position: 100% 0;
    background-size: 100%;
  }

  60% {
    background-position: 50% 0;
    background-size: 100%;
  }

  75% {
    background-position: 50% 0;
    background-size: 100%;
  }

  80% {
    background-position: 0% 0;
    background-size: 100%;
  }

  95% {
    background-position: 0% 0;
    background-size: 100%;
  }
}

@-webkit-keyframes animatedBackgroundLoop {
  from {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  0% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  20% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  30% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  50% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  60% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  80% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  90% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  100% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  to {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }
}

@-moz-keyframes animatedBackgroundLoop {
  from {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  0% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  20% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  30% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  50% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  60% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  80% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  90% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  100% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  to {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }
}

@keyframes animatedBackgroundLoop {
  from {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  0% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  20% {
    background-position: 0 0;
    background-size: 2463px 328px;
  }

  30% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  50% {
    background-position: -821px 0;
    background-size: 2463px 328px;
  }

  60% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  80% {
    background-position: -1642px 0;
    background-size: 2463px 328px;
  }

  90% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  100% {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }

  to {
    background-position: -2463px 0;
    background-size: 2463px 328px;
  }
}

.archive.post-type-archive #adspace a {
  margin-bottom: 20px;
}

.safari #adspace .holly-becker-ad h3.book-title, .firefox #adspace .holly-becker-ad h3.book-title {
  font-size: 2.46154em !important;
}
.safari #adspace .holly-becker-ad h4, .firefox #adspace .holly-becker-ad h4 {
  font-size: 1.53846em !important;
}
.safari #adspace .holly-becker-ad p, .firefox #adspace .holly-becker-ad p {
  font-size: 0.76923em !important;
}
