/* GT Walsheim Web Medium */
@font-face {
  font-family: 'gt_walsheim_regular';
  src: url("../fonts/walsheim/GT-Walsheim-Regular-Trial.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_light';
  src: url("../fonts/walsheim/GT-Walsheim-Light-Trial.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_medium';
  src: url("../fonts/walsheim/gt-walsheim-medium-web.eot");
  src: url("../fonts/walsheim/gt-walsheim-medium-web.eot?#iefix") format("embedded-opentype"), url("../fonts/walsheim/gt-walsheim-medium-web.woff") format("woff"), url("../fonts/walsheim/gt-walsheim-medium-web.ttf") format("truetype"), url("../fonts/walsheim/gt-walsheim-medium-web.svg#gt_walsheim_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_medium_oblique';
  src: url("../fonts/walsheim/gt-walsheim-medium-oblique-web.eot");
  src: url("../fonts/walsheim/gt-walsheim-medium-oblique-web.eot?#iefix") format("embedded-opentype"), url("../fonts/walsheim/gt-walsheim-medium-oblique-web.woff") format("woff"), url("../fonts/walsheim/gt-walsheim-medium-oblique-web.ttf") format("truetype"), url("../fonts/walsheim/gt-walsheim-medium-oblique-web.svg#gt_walsheim_medium_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Minion Pro Regular & Semibold */
@font-face {
  font-family: 'minion-pro';
  src: url("../fonts/minion/MinionPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minion-semi';
  src: url("../fonts/minion/MinionPro-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

meta.foundation-mq-small {
  font-family: "only screen and (min-width: 640px)";
  width: 640px;
}

meta.foundation-mq-medium {
  font-family: "only screen and (min-width: 1024px)";
  width: 1024px;
}

meta.foundation-mq-large {
  font-family: "only screen and (min-width: 1280px)";
  width: 1280px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 13px;
}

body {
  background: white;
  color: black;
  padding: 0;
  margin: 0;
  font-family: "gt_walsheim_medium";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

p.lead {
  font-size: 1.26923em;
  line-height: 1.6;
}

.subheader {
  line-height: 1.4;
  color: #4d4d4d;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
a {
  color: black;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: black;
}
a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.53846em;
  text-rendering: optimizeLegibility;
}
p aside {
  font-size: 1em;
  line-height: 1.35;
  font-style: normal;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "minion-semi", serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.16923em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #4d4d4d;
  line-height: 0;
}

h1 {
  font-size: 6.15385em;
}

h2 {
  font-size: 1.46154em;
}

h3 {
  font-size: 0.76923em;
}

h4 {
  font-size: 0.46154em;
}

h5 {
  font-size: 1.46154em;
}

h6 {
  font-size: 1em;
}

hr {
  border: solid #999999;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.53846em 0 1.46154em;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.53846em;
  list-style-position: inside;
  font-family: inherit;
}

ul, ol {
  margin-left: 0;
}
ul.no-bullet, ol.no-bullet {
  margin-left: 0;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.53846em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
ul.square {
  list-style-type: square;
}
ul.circle {
  list-style-type: circle;
}
ul.disc {
  list-style-type: disc;
}
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol li ul,
ol li ol {
  margin-left: 1.53846em;
  margin-bottom: 0;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3em;
  font-weight: normal;
}
dl dd {
  margin-bottom: 0.92308em;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: black;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.53846em;
  padding: 0.69231em 1.53846em 0 1.46154em;
  border-left: 1px solid #dddddd;
}
blockquote cite {
  display: block;
  font-size: 1em;
  color: #333333;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
  color: #333333;
}

blockquote,
blockquote p {
  line-height: 1.4;
  color: #4d4d4d;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0;
  border: 0px solid #dddddd;
  padding: 0;
}
.vcard li {
  margin: 0;
  display: block;
}
.vcard .fn {
  font-weight: normal;
  font-size: 1em;
}

.vevent .summary {
  font-weight: normal;
}
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: normal;
  border: none;
  padding: 0 0.07692em;
}

@media only screen and (min-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 6.92308em;
  }

  h2 {
    font-size: 2.23077em;
  }

  h3 {
    font-size: 1.15385em;
  }

  h4 {
    font-size: 0.84615em;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}
body {
  margin: 20px;
}
body a {
  text-decoration: underline;
}
