body.ie.ie9 {
  letter-spacing: 0.15385em !important;
}
body.ie.ie9 input, body.ie.ie9 button {
  letter-spacing: 0.15385em !important;
}

.ie9 section h2.section-title, .ie10 section h2.section-title, .ie11 section h2.section-title {
  font-size: 1.61538em;
}
.ie9 #masthead .medium-portrait-13, .ie10 #masthead .medium-portrait-13, .ie11 #masthead .medium-portrait-13 {
  width: 38.88889% !important;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li, .ie10 #masthead .medium-portrait-13 #magento-connect li, .ie11 #masthead .medium-portrait-13 #magento-connect li {
  padding-left: 10px;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li.bookmark, .ie10 #masthead .medium-portrait-13 #magento-connect li.bookmark, .ie11 #masthead .medium-portrait-13 #magento-connect li.bookmark {
  padding-left: 15px;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li.bookmark:before, .ie10 #masthead .medium-portrait-13 #magento-connect li.bookmark:before, .ie11 #masthead .medium-portrait-13 #magento-connect li.bookmark:before {
  left: 10px;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li.shoppingcart, .ie10 #masthead .medium-portrait-13 #magento-connect li.shoppingcart, .ie11 #masthead .medium-portrait-13 #magento-connect li.shoppingcart {
  padding-left: 35px;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li.login, .ie10 #masthead .medium-portrait-13 #magento-connect li.login, .ie11 #masthead .medium-portrait-13 #magento-connect li.login {
  padding-left: 10px;
}
.ie9 #masthead .medium-portrait-13 #magento-connect li.login .log-in, .ie9 #masthead .medium-portrait-13 #magento-connect li.login span.logged, .ie10 #masthead .medium-portrait-13 #magento-connect li.login .log-in, .ie10 #masthead .medium-portrait-13 #magento-connect li.login span.logged, .ie11 #masthead .medium-portrait-13 #magento-connect li.login .log-in, .ie11 #masthead .medium-portrait-13 #magento-connect li.login span.logged {
  padding-left: 0px;
}
.ie9 #promoted-product-category h4.kategorie-name, .ie10 #promoted-product-category h4.kategorie-name, .ie11 #promoted-product-category h4.kategorie-name {
  font-size: 5.38462em;
}
.ie9 #magazines h2.section-title, .ie10 #magazines h2.section-title, .ie11 #magazines h2.section-title {
  font-size: 1.61538em;
}
.ie9 #related-posts h3.section-title, .ie9 #related-site-content h3.section-title, .ie9 #custom-related-content h3.section-title, .ie10 #related-posts h3.section-title, .ie10 #related-site-content h3.section-title, .ie10 #custom-related-content h3.section-title, .ie11 #related-posts h3.section-title, .ie11 #related-site-content h3.section-title, .ie11 #custom-related-content h3.section-title {
  font-size: 1.61538em;
}
.ie9 #secondary aside.widget#social-widget form.newsletter legend, .ie9 #secondary-left aside.widget#social-widget form.newsletter legend, .ie10 #secondary aside.widget#social-widget form.newsletter legend, .ie10 #secondary-left aside.widget#social-widget form.newsletter legend, .ie11 #secondary aside.widget#social-widget form.newsletter legend, .ie11 #secondary-left aside.widget#social-widget form.newsletter legend {
  width: 100%;
  text-align: center;
}
.ie9 #secondary aside.widget#presse .big-text, .ie9 #secondary-left aside.widget#presse .big-text, .ie10 #secondary aside.widget#presse .big-text, .ie10 #secondary-left aside.widget#presse .big-text, .ie11 #secondary aside.widget#presse .big-text, .ie11 #secondary-left aside.widget#presse .big-text {
  letter-spacing: 0px !important;
  font-size: 7.69231em;
}
.ie9 #secondary aside.widget.widget_categories h4.widget-title, .ie9 #secondary-left aside.widget.widget_categories h4.widget-title, .ie10 #secondary aside.widget.widget_categories h4.widget-title, .ie10 #secondary-left aside.widget.widget_categories h4.widget-title, .ie11 #secondary aside.widget.widget_categories h4.widget-title, .ie11 #secondary-left aside.widget.widget_categories h4.widget-title {
  font-size: 2.30769em;
}
.ie9 #secondary aside.widget#pressebox h4.widget-title, .ie9 #secondary-left aside.widget#pressebox h4.widget-title, .ie10 #secondary aside.widget#pressebox h4.widget-title, .ie10 #secondary-left aside.widget#pressebox h4.widget-title, .ie11 #secondary aside.widget#pressebox h4.widget-title, .ie11 #secondary-left aside.widget#pressebox h4.widget-title {
  font-size: 2.07692em;
}
.ie9 #magazine-list .magazine-thumbnail .magazine-cell a img, .ie10 #magazine-list .magazine-thumbnail .magazine-cell a img, .ie11 #magazine-list .magazine-thumbnail .magazine-cell a img {
  width: 100%;
}
