@import "../inc/foundation/scss/variables";
@import "callwey-variables";
@import "bourbon";
#adspace {
	text-align: center;	
	a {
		float: left;
		width: 100%;
		text-align: center;
/* 		@include section-margin-bottom;	 */	
		margin-bottom: 54px;
	}
	.tatort-ad {
		height: 328px;
	    background-position: 0px 0px;
	    background-repeat: repeat-x;
		@include animation(animatedBackground 20s ease-in-out infinite);
		.ad-content {
			text-align: right;
			padding: 30px 28px 0 55%;
		}
		h3.book-title {
			text-transform: uppercase;
			font-size: em-calc(30);
			margin: 0 0 26px;
		}
		p {
			font-size: em-calc(16);
			margin: 0
		}
		span {
			@include minion_upper;
/* 			letter-spacing: em-calc(3); */
			display: block;
			&.price {
				font-size: em-calc(25);
				margin: 53px 0;
			}
		}
	}
	.holly-becker-ad {
		height: 328px;
	    background-position: 0px 0px;
	    background-repeat: repeat-x;
	    background-size: 2463px 328px;
		@include animation-name(animatedBackgroundLoop);
		@include animation-duration(10s);
		@include animation-direction(normal);		
		@include animation-timing-function(linear);
		@include animation-iteration-count(infinite);
		.ad-content {
			text-align: right;
			padding: 30px 28px;
		}
		h3.book-title {
			text-transform: uppercase;
			font-size: em-calc(28);
			margin: 0 0 15px;
		}
		p {
			font-size: em-calc(13);
			margin: 0
		}
		span {
			@include minion_upper;
			letter-spacing: em-calc(3);
			display: block;
			margin-top: 30px;
			&.price {
				font-size: em-calc(25);
				margin: 53px 0;
			}
		}		
	}
	.archive-banner {
		margin-bottom: 20px;
	    background-repeat: no-repeat;
	    background-position: center top;
	    color: white;
	    h3, h4 {
		    color: white;
		    text-transform: uppercase;
			@include minion;
			font-weight: normal;
			line-height: 1;
	    }
		.ad-content {
			width: 50%;		
			height: 300px;
			h3 {
				font-size: em-calc(89);
				letter-spacing: em-calc(2);
			}			
			h4 {
				font-size: em-calc(13);
				letter-spacing: em-calc(4);
				margin: 0;
			}
			p {
				font-size: em-calc(13);
				margin-bottom: 0;
			}
		}
	}
	.books-ebook-banner {
		.ad-content {
			h3 {
				margin: 20px 0 30px;
			}
			h4 {
				margin-bottom: 80px;
			}
			span {
				padding: 0 30%;
			}
		}
	}
	.ebooks-book-banner {
		.ad-content {
			h3 {
				margin: 40px 0 30px;
			}
			h4 {
				margin-top: 18px;
			}
			.ad-text {
				margin: 0 21%;
				h4 {
					float: left;
				}
				span {
					padding: 0;
					float: right;
				}				
			}
		}
	}
}
@include keyframes(animatedBackground) {

    0%      {  background-position: 0 0;     background-size:100%;  }
    15%     {  background-position: 0 0;     background-size:100%;  }

    20%     {  background-position: 50% 0;   background-size:100%;  }
    35%     {  background-position: 50% 0;   background-size:100%;  }

    40%     {  background-position: 100% 0;  background-size:100%;  }
    55%     {  background-position: 100% 0;  background-size:100%;  }

    60%     {  background-position: 50% 0;   background-size:100%;  }
    75%     {  background-position: 50% 0;   background-size:100%;  }

    80%     {  background-position: 0% 0;    background-size:100%;  }
    95%     {  background-position: 0% 0;    background-size:100%;  }

}
@include keyframes(animatedBackgroundLoop) {

    from      {  background-position: 0 0;      	    background-size: 2463px 328px;  }

    0%      {  background-position: 0 0; 			    background-size: 2463px 328px;  }    
    20%      {  background-position: 0 0; 			    background-size: 2463px 328px;  }
    
    30%      {  background-position: -821px 0;  	    background-size: 2463px 328px;  }
    50%      {  background-position: -821px 0;  	    background-size: 2463px 328px;  }    

    60%      {  background-position: -1642px 0;   	    background-size: 2463px 328px;  }    
    80%      {  background-position: -1642px 0;   	    background-size: 2463px 328px;  }    

    90%      {  background-position: -2463px 0;   	    background-size: 2463px 328px;  }    
    100%      {  background-position: -2463px 0;   	    background-size: 2463px 328px;  }    
    
    to     {  background-position: -2463px 0;     	    background-size: 2463px 328px;  }
    
}
.archive.post-type-archive {
	#adspace {
		a {
			margin-bottom: 20px;
		}
	}

}
.safari, .firefox {
	#adspace {
		.holly-becker-ad {
			h3.book-title {
				font-size: em-calc(32) !important;				
			}
			h4 {
				font-size: em-calc(20) !important;
			}
			p {
				font-size: em-calc(10) !important;
			}			
		}
	}
}