#basket-page {
	table {
		margin: 50px 0 0 0;
		width: 100%;
	}
	table, tr, td, th {
		background: white;
		background-color: white;
		border: 0;
		text-align: center;
	}
	thead {
		border-bottom: 1px solid black;
		th {
			font-size: em(17);
			padding: 0 0 22px;
			@media only screen and (max-width: 640px) {
				width: 100%;
				float: left;
			}	
		}
	}
	tr {	
		> td {
			padding: 40px 0 10px;
			@media only screen and (max-width: 640px) {
				width: 100%;
				float: left;
			}
		}
		td {
			span {
				&.price, &.count {
					font-size: em(21);
				}
				&.count {
					padding: 1px;
					border: 1px solid silver;
					display: inline-block;
					div {
						border: 1px solid silver;
						padding: 10px;
					}
				}
			}
			h3 {
				padding-left: 10px;
				padding-right: 10px;
			}
			h3.book-title {
				@include walsheim_upper;
				font-size: em(16);
/* 				font-weight: bold; */
			}
		}
		&.action-links {
			td {
				border-bottom: 1px solid silver;
				padding: 0 0 30px;
				text-align: right;
					color: silver;
				a {
					text-transform: uppercase;
					color: silver;
					font-size: em(13);
					font-weight: normal;
				}
			}
		}
	}
	tbody {
		tr:last-child {
			background-color: red;
			td.action-links {
				border: 0 !important;
				background-color: red !important;
			}
		}		
	}
	tfoot {
		tr.actions-basket {
			td {
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				text-align: right;
				padding: 22px 0;
				text-transform: uppercase;
				a {
					text-decoration: underline;
				}
			}
		}
		.button-wrapper {
			border: 1px solid silver;
			padding: 1px;
			display: inline-block;
			.button {
				border: 1px solid silver;
				margin: 0;
				padding-bottom: 17px;
			}
		}
	}
	#basket-legal {
		.inline-list {
			margin-bottom: 30px;
			li {
				margin: 0;
				a {
					font-size: em(13);
					@include minion_upper;
					padding: 0 10px;
					border-left: 1px solid black;
					line-height: 1;
				}
			}
		}		
	}
}