.blog.group-blog, .archive.author, .search.search-results, .archive.tag, .archive.category, .archive.post-type-archive-rezepte, .archive.tax-kolumnen, .archive.tax-post_author, .page-template-page-blog-php {
	.blog-space {
		.medium-18.columns.divider {
			border-top: 1px solid $Gray;
			width: 106%;
			margin-left: -10px;	
			.block-title {
				display: none;
			}
			@media #{$medium} {
				.block-title {
					@include position(absolute, 0 0 0px 0);
			/* 					@include transform-style(preserve-3d); */
					display: inline-block;
					width: 100%;
					float: right;
					> span {
	
						@include position(absolute, 0 0 -23px -100%);
						@include transform(rotate(-90deg));
						@include transform-origin(bottom right);
						@include ListNoStyle;
						float: right;
						margin: 0;
						width: 100%;
						> span {
							display: inline-block;
							float: right;
							margin-left: 10px;
							@include walsheim_upper;
/* 							font-size: em(15); */
/* 							letter-spacing: em(4); */
							line-height: 1;
						}
					}
				}
			}
		}
		&.medium-16.medium-push-1#adspace {
			width: 91.5%;
		}
		.adrotate {
			padding: 26px 10px 40px;
		}
	}
	article {
		margin-bottom: 36px;
		header.entry-header {		
			.entry-meta {
				.entry-categorie {
					bottom: -15px !important;
					width: 50%;
					float: left;
				}
				.entry-date {
					float: left;
					width: 50%;
					@media #{$medium-portrait} {
						float: none;
						width: inherit;
					}
					@media #{$medium} {
						float: none;
						width: inherit;
					}
				}
				@media #{$medium} {	
					.entry-meta-devider {
						width: 105.5%;
						margin-left: -10px;
					}
				}
				ul.post-categories {
					@media #{$medium-portrait} {
                        top: 30px;
						left: -95.7% !important;
					}
					@media #{$medium} {
                        top: 30px !important;
						left: -104.7% !important;
					}
					@media #{$large} {
                        top: 35px !important;
						left: -103.3% !important;
					}
				}
				.entry-author {
					margin-bottom: 22px;
					@include post-author;
					span {
						display: inline !important;
						@include minion;
						&.author.vcard {
							margin-left: 10px;
						}
					}
				}
			}
			.medium-17.medium-push-2.columns {
				.entry-meta {
					border: 0;
					padding: 0;
					margin: 0;
				}
			}
			h2.entry-title {
				font-size: em-calc(34);
				letter-spacing: em-calc(3);
				@include minion_upper;
				margin: 46px 0 12px;			
			}
		}
	}
	&.mobile {	
		article {
			header.entry-header {
				h2.entry-title {
					font-size: em-calc(28);
				}			
			}
		}
	}
	#secondary {
		margin-top: 26px;
	}
}
