.page-template-page-template-buchhandle-php {
	#company-address, #agents-contact, #staff-contact {
		h4.page-section-title {
			margin-left: 10px;
		}
	}
	#company-address {
		.address {
			@include minion;
			p {
				font-size: em-calc(27);
				letter-spacing: 0.04em;
			}
		}
	}
	#agents-contact {
		li {
			.agent-description {
				h3.agent-location {
					@include walsheim_upper;
					font-size: em-calc(15);					
					text-decoration: underline;
					margin-bottom: 22px;					
				}
				p {
					strong {
						@include minion_upper;
					}
					a {
						text-decoration: underline;
					}
				}
			}
/*
			ul.vcard {
				li {
					.vcard-table {
						display: table;
						.vcard-cell {
							display: table-cell;
							vertical-align: top;
							height: 36px;
						}
					}
					&.area {
						.vcard-cell {
							height: 53px;
							text-transform: uppercase;
							text-decoration: underline;						
						}
					}
					&.fn {
						@include minion_upper;
					}
					&.location {
						margin-bottom: 22px;
					}
					&.address {
					}
					&.email {
						a {
							text-decoration: underline;
						}
					}
				}
			}				
*/				
		}
	}
}