@mixin input-border-round {
	-moz-border-radius-topleft: 1000px;
	-moz-border-radius-topright:1000px;
	-moz-border-radius-bottomleft:1000px;
	-moz-border-radius-bottomright:1000px;
	-webkit-border-top-left-radius:1000px;
	-webkit-border-top-right-radius:1000px;
	-webkit-border-bottom-left-radius:1000px;
	-webkit-border-bottom-right-radius:1000px;
	border-top-left-radius:1000px;
	border-top-right-radius:1000px;
	border-bottom-left-radius:1000px;
	border-bottom-right-radius:1000px;
}
@mixin input-border-radius($radpx) {
	-moz-border-radius-topleft: $radpx;
	-moz-border-radius-topright:$radpx;
	-moz-border-radius-bottomleft:$radpx;
	-moz-border-radius-bottomright:$radpx;
	-webkit-border-top-left-radius:$radpx;
	-webkit-border-top-right-radius:$radpx;
	-webkit-border-bottom-left-radius:$radpx;
	-webkit-border-bottom-right-radius:$radpx;
	border-top-left-radius:$radpx;
	border-top-right-radius:$radpx;
	border-bottom-left-radius:$radpx;
	border-bottom-right-radius:$radpx;
}
@mixin rotate($deg) {
	transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg) ;
	-ms-transform: rotate($deg) ;
}
@mixin FontSpaceLine($fontsize,$fontspace,$fontline) {
	font-size: em-calc($fontsize);
	letter-spacing: em-calc($fontspace);
	line-height: em-calc($fontline);	
}
@mixin ListNoStyle {
	list-style: none;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
}
input, textarea {
	&.round {
		@include input-border-round;
	}
	&.radius {
		@include input-border-radius(10px);
	}
}
.button-noshadow {
/* 	box-shadow: 0px 0px 0px black; */
}
.button-white {
	background-color: white;
	color: black;
}
@mixin section-title {
	text-transform: uppercase;
	line-height: 1.2;	
	@media #{$small} {
		font-size: $h2-font-size - em-calc(8);
	}
	@media #{$medium} {
		font-size: $h2-font-size - em-calc(4);
	}
	@media #{$large} {
		font-size: $h2-font-size;	
	}
}
@mixin section-subtitle {
	@include minion_upper;
	text-align: center;
	letter-spacing: em-calc(5);
}
@mixin site-section-title {
	text-transform: uppercase;
	font-size: em-calc(28);
	letter-spacing: em-calc(1.1);
	margin-top: 56px;
	margin-bottom: 25px;
	font-weight: normal;
	line-height: 1;
}
@mixin post-title($titsize,$titspace,$titline) {
	font-size: em-calc($titsize);
	letter-spacing: em-calc($titspace);
	line-height: em-calc($titline);
	text-transform: uppercase;
	@include walsheim;
	@media #{$medium} {
		font-size: em-calc($titsize + 12);
	}
	@media #{$large} {
		font-size: em-calc($titsize + 15);
	}
}
@mixin post-author {
	span {
		display: block;
		@include walsheim_upper;
	}
}
.text-white {
	color: white !important;
}
@mixin section-margin-bottom {
	margin-bottom: 54px;
}

$tablet-portrait: 768px;

$medium-portrait: "only screen and (min-width: #{$tablet-portrait})";

@media #{$medium-portrait} {
    .hide-for-medium-portrait {
	    display: none !important;
	    visibility: hidden !important;
    }
}

@mixin paragraphsize {
	font-size: em-calc(17);
	letter-spacing: em-calc(0.5) !important;
}
.uppercase {
	text-transform: uppercase;
}
@mixin masonry-brick-entry {
	article {
	border: 1px solid #a6a6a6;
	padding: 7px;
	header.entry-header {
		position: relative;
		padding-right: 30px;
		margin-top: 17px;
		margin-bottom: 9px;
		h3.entry-title {
			font-size: em-calc(13);
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}
		a.goto-entry {
			border-radius: 1000px;
			background-color: black;
			width: 22px;
			height: 22px;
			position: absolute;
			right: 0;
			top: -5px;
			@include minion;
			text-align: center;
			vertical-align: middle;
			color: white;
			padding-top: 5px;
			padding-left: 3px;
			font-size: em-calc(13);
		}
	}
}
}
