/* GT Walsheim Web Medium */

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('../fonts/walsheim/GT-Walsheim-Regular-Trial.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_light';
    src: url('../fonts/walsheim/GT-Walsheim-Light-Trial.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_medium';
    src: url('../fonts/walsheim/gt-walsheim-medium-web.eot');
    src: url('../fonts/walsheim/gt-walsheim-medium-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/walsheim/gt-walsheim-medium-web.woff') format('woff'),
         url('../fonts/walsheim/gt-walsheim-medium-web.ttf') format('truetype'),
         url('../fonts/walsheim/gt-walsheim-medium-web.svg#gt_walsheim_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_medium_oblique';
    src: url('../fonts/walsheim/gt-walsheim-medium-oblique-web.eot');
    src: url('../fonts/walsheim/gt-walsheim-medium-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/walsheim/gt-walsheim-medium-oblique-web.woff') format('woff'),
         url('../fonts/walsheim/gt-walsheim-medium-oblique-web.ttf') format('truetype'),
         url('../fonts/walsheim/gt-walsheim-medium-oblique-web.svg#gt_walsheim_medium_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Minion Pro Regular & Semibold */

@font-face {
    font-family: 'minion-pro';
    src: url('../fonts/minion/MinionPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minion-semi';
    src: url('../fonts/minion/MinionPro-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}