$walsheim: "gt_walsheim_medium";
$walsheim_oblique: "gt_walsheim_medium_oblique";
$walsheim_light: "gt_walsheim_light";

@mixin walsheim {
	font-family: $walsheim;
    font-weight: normal;
    font-style: normal;
}

@mixin walsheim_oblique {
	font-family: $walsheim_oblique;
    font-weight: normal;
    font-style: normal;
}

@mixin walsheim_upper {
	font-family: $walsheim;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

@mixin walsheim_oblique_upper {
	font-family: $walsheim_oblique;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

@mixin walsheim_light {
	font-family: $walsheim_light;
    font-weight: normal;
    font-style: normal;
}

@mixin walsheim_light_upper {
	font-family: $walsheim_light;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

$minion: "minion-pro", serif;
$minion_semi: "minion-semi", serif;

@mixin minion {
	font-family: $minion;
}
@mixin minion_upper {
	font-family: $minion;
	text-transform: uppercase;
}

@mixin minion_semi {
	font-family: $minion_semi;
}
@mixin minion_semi_upper {
	font-family: $minion_semi;
	text-transform: uppercase;
}


$Blue: #004c92;
$Dark: #666666;
$Gray: #999999;
$Silver: #c8c8c8;

$fs13px: em(13);