.wpcf7 {
	margin-right: 10px !important;
	input.wpcf7-text, textarea.wpcf7-text {
/* 		font-size: em(16); */
/* 		letter-spacing: em(0); */
		text-transform: none;
	}
	form {
		legend {
			margin-bottom: 46px;
			@include paragraphsize;
			font-size: em-calc(13);
			line-height: 1.1;
		}
		label, small {
			color: gray;
			@include paragraphsize;
			font-size: em-calc(13);
		}		
		#type-radio {
			margin-bottom: 60px;
			.wpcf7-list-item {
				width: 50%;
				margin: 0 0 15px;
				display: inline-block;
				label {
					color: black;
					.wpcf7-list-item-label {
						font-size: em-calc(18);
					}
				}
			}
		}
		#textareas {
			margin-bottom: 42px;
			label {
				color: black;
				text-align: center;
				padding-bottom: 12px;
				border-bottom: 1px solid black;
				margin-bottom: 15px;
				font-size: em-calc(18);
			}
			textarea {
				height: 92px;
			}
		}
		#geschlecht {
			margin-bottom: 20px;
			.wpcf7-list-item  {
				margin: 0 15px 0 0;
				display: inline-block;
			}			
		}
		#form-fields {
		
		}
		#your-message {
			margin-top: 45px;
			margin-bottom: 30px;
			.wpcf7-form-control-wrap, .form-field-captcha {
				padding-left: 20px;
				display: inline-block;
				width: 100%;
			}
		}
		input.button {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: em-calc(13);
		}
	}
	.wpcf7-not-valid-tip, .wpcf7-validation-errors, .wpcf7-mail-sent-ok {
		border: 0;
		text-transform: uppercase;
		font-size: em-calc(13);
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		display: inline-block;
		margin-bottom: 10px;
	}
	.captcha-container {
		img.wpcf7-captchac {
			padding-left: 20px;	
		}
		input.wpcf7-captchar {
			text-transform: none;
			width: 40%;
		}
	}
}