body, input, button {
	letter-spacing: em-calc(3);
}
input {
	text-transform: uppercase;
	font-weight: normal !important;
}
.underline {
	text-decoration: underline;
}
.wp-caption {
	border: 0;
	p.wp-caption-text {
		@include minion_upper;
		margin: 20px 0 10px;
	}
}
section {
	h2.section-title {
		@include section-title;
	}
	h3.section-subtitle {
		@include section-subtitle;
	}
	&.no-results.not-found {
		margin: 60px 0;
	}
}
.tablet {
	section, #secondary-main {
		h2, h3 {
			&.section-title  {
				margin: 40px 0 0 !important;
				text-transform: uppercase;
				font-size: em-calc(22) !important;
			}
		}
		h3, h4 {
			&.section-subtitle {
				margin: 0 0 40px !important;
				text-transform: uppercase;
				font-size: em-calc(16) !important;
			}
		}
	}
	&.archive.tax-kategorie {
		section, #secondary-main {
			h2.section-title {
				margin-bottom: 40px !important;
			}
		}
	}
}
.mobile {
	section {
		h2, h3 {
			&.section-title {
				@include walsheim_upper;		
				margin-bottom: 22px;
				font-size: em-calc(14) !important;
			}
		}
	}	
}
h3.site-section, h1.archive-title, h1.page-title {
	@include walsheim_upper;
	margin: 0 0 29px;		
	font-size: $h1-font-size;
	letter-spacing: em-calc(1);
	line-height: 1;
	position: relative;
	a.button {
        font-size: 16px !important;
		letter-spacing: em-calc(3);
		text-transform: capitalize;
		margin-bottom: 0;
		padding: 20px 25px;
		@media #{$medium} {	
            position: absolute;
            right: 0;
            margin-top: 20px;    		
        }
	}
}
.mobile {
	h3.site-section, h1.archive-title, h1.page-title {	
		font-size: $h1-font-size - em-calc(30);
	}
}
h4.site-section-title {
	@include site-section-title;
}
.desktop.archive {
	&.post-type-archive-produkt, &.post-type-archive-ebook, &.post-type-archive-category-child {
		h4.site-section-title {
			margin-bottom: 27px;
			letter-spacing: em-calc(0.6);
		}
		h1.archive-title {
			font-size: em-calc(79);
			letter-spacing: em-calc(1.9);
			margin-bottom: 23px;
		}
	}
}
h4.section-title, h6.section-title  {
	@include walsheim_upper;
	border-bottom: 1px solid black;
	margin: 60px 10px 54px;
	padding-bottom: 12px;
}
h5.section-title {
	@include minion_upper;
	line-height: 1;
	margin: 0 0 10px;
}
h6.section-title {
	font-size: em-calc(17);
	margin-bottom: 30px;
}
#related-posts, #related-site-content, #custom-related-content {
	h3.section-title {
		@include section-title;
		font-size: $h2-font-size !important;
		text-transform: uppercase !important;
	}
	h4.section-subtitle {
		@include section-subtitle;
		margin-top: 62px;
		margin-bottom: 40px;
		font-size: $h3-font-size !important;
	}
	.related-posts {
		margin: 0 0 0 -10px;
		@media #{$medium} {	
			margin: 0 0 0 10px;
		}
		li {
			@media #{$medium} {	
				padding-bottom: 0;
			}
			padding-right: 0;
		}
	}
}
figure {
	margin: 10px 0;
	&.portrait-double {
		padding: 0;
	}
	figcaption {
		@include minion_upper;
		margin: 20px 0 10px;
        color: black;
	}
}
.BookMasonry-brick {
	figure {
		margin: 0;
		figcaption {
		}	
	}
}
.entry-content, .page-content, .page-description {
	figure.portrait-double:nth-of-type(even) {
		text-align: right;
	}
	p {
		@include paragraphsize;	
		a {
			text-decoration: underline;
			&.button {
				text-decoration: none !important;
			}
		}		
	}
	li {
		@include paragraphsize;
	}
}
.entry-content {
	p, li, i, strong {
		@include minion;
	}
    blockquote {
    	@include minion_semi_upper;
    	color: black;
    	border: 0;
    	margin-bottom: 1.53846em;
    	font-size: em-calc(16);
    	line-height: 1.2;
    	padding: 0 em-calc(30);
    	text-align: center;
        quotes: '\201E' '\201C' '\2018' '\201A';
/*
        &:before, &:after {
          font-size: 1.2em;
          line-height: 1px;
          font-weight: bold;
        }
*/
    	&:before {
    	  	content: "\201E";
    	}
    
    	&:after {
    	  	content: "\201C";
    	}
    	p {
        	color: black;
        	display: inline;
        	margin-bottom: 0;
    	}
    	cite {
    		margin-top: 30px;
    		@include walsheim;
    		font-size: em-calc(7);
    		text-transform: none;
    		&:before {
    			content: "";
    		}
    	}
    	@media #{$medium} {
    		font-size: em-calc(27);
    		padding: 0 em-calc(40);
    		line-height: 1.4;
    		cite {
    			font-size: em-calc(7);
    		}
    	}
    }
}
/*
.page-content {
	p {
		@include walsheim;
	}
}
*/
.page-description {
	hr {
		margin-bottom: 30px;
	}
}
.load-more {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 10px 0;
	text-align: center;
	float: left;
	width: 100%;
	a {
		display: inline-block;
		.down, .up {
			position: relative;
			padding: 0 30px;
			&:before, &:after {
				display: inline-block;
				line-height: 1;
				position: absolute;
				font-size: em-calc(22);
			} 
		}
		.down, .up {
			&:before {
				content: "«";
				@include rotate(-90deg);
				top: -5px;
				left: 0;	
			}
			&:after {
				content: "»";
				top: -2px;
				right: 0;	
				@include rotate(90deg);		
			}			
		}
		.up {
			display: none;
			&:before {
				@include rotate(90deg);
				top: -2px;
			}
			&:after {
				@include rotate(-90deg);	
				top: -5px;	
			}
		}
		&.close {
			.up {
				display: block;
			}
			.down {
				display: none;
			}			
		}
	}
}
ul.social-networks {
	li {
		margin: 0;
		width: 33%;
		text-align: center;
		a {
			font-size: em-calc(38);
			&.fi-social-pinterest {
				height: 45px;
				margin-top: -5px;
				line-height: 1;
			}
		}
	}
}
form.newsletter {
	margin: 0;
	legend {
		margin: 0;
		padding: 0;
	}
	input {
		margin: 0;
		padding: 0;
	}
}
a.goto-blog {
	@include minion_upper;
	letter-spacing: em-calc(3);
	float: left;
	@media #{$small} {
		padding-left: 80px;
	}
	@media #{$medium} {
		padding-left: 40px;
	}
	@media #{$large} {
		padding-left: 10px;
	}
}
.social-buttons {
	.sharing-container {
		float: left;
		@media #{$medium} {
			float: left;
		}
		@media #{$large} {
			float: right;
		}
	}
	.sharedaddy {
		border-top: 0;
		float: left;
		li {
            margin-left: 10px;
			&.share-end {
				display: none !important;	
			}
		}
		a.sd-button {
			float: left;
			width: 100%;
			.social-icon {
				float: left;
			}
		}
	}

	.comment-bottom {
		float: left;
		display: inline-block;
		margin-left: 10px;
		span.fi-comment {
			float: left;
		}
		.fb-comments-count {
			float: left;
			&.fb_comments_count_zero {
				.fb_comments_count {
					display: none;
				}
			}
		}
	}
	span.share-count {
    	@include walsheim_upper;
    	font-size: em-calc(16);
	}
    .share-facebook {
    	.icon-facebook {
        	font-size: em-calc(18);
        	margin-top: 1px
    	}
        .share-count {
        	margin-left: 4px;
        }
    }
    .share-twitter {
    	.icon-twitter { 	
        	font-size: em-calc(19);
        	margin-top: 2px;
        }
        .share-count {
        	margin-left: 8px;
        }
    }
    .fi-comment {
    	font-size: em-calc(26);
    	margin-top: 2px;
    }
	.fb_comments_count {
		margin-left: 8px;
		margin-top: 4px;
    	font-size: em-calc(21);
    	display: inherit;
	}
}

.mobile {
	.sharedaddy {
		a.sd-button {
			span {
				display: none;
			}
		}
	}
    article {
        .social-buttons {
            .facebook {
                overflow-x: hidden;
            }
        }
    }
}
a.bookmark-icon {
	background-image: url('../img/icon-whislist-new.png');
	background-repeat: no-repeat;
	background-position: center top;
	width: 9px;
	height: 31px;
	&.active, &:hover {
		background-image: url('../img/icon-wishlist-3-hover.png');	
		background-color: #024a94;	
	}
	&.bookmark-link {
		position: absolute;
		top: 0;		
	}
}
p a.read-more, a.read-more {
	font-size: em-calc(11) !important;
	letter-spacing: em-calc(3.8) !important;
	@include minion_upper;
	display: block;
	margin-top: 32px;
	text-decoration: underline;
}
.archive {
	.archive-title  {
		margin-bottom: 80px;
		line-height: 1;
		display: inline-block;
		width: 100%;
	}	
	.author-info {
		margin-bottom: 60px;
		display: inline-block;
		.author-bio {
			margin: 20px 0 0;
			@include paragraphsize;
		}
	}
}
.single, .group-blog, .archive.author, .search.search-results, .archive.tag, .archive.category, .archive.post-type-archive-rezepte, .archive.tax-kolumnen, .archive.tax-post_author {
	article {
		header.entry-header {
			.entry-meta {
				border-bottom: 1px solid $Gray;
				padding-bottom: 15px;
				margin-bottom: 17px;
				display: inline-block;
				width: 100%;
				@media #{$medium-portrait} {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				@media #{$medium} {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				@media #{$large} {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				.entry-author {
					@include post-author;
				}
				.entry-meta-devider {
					@media #{$small} {
						border: 0;
						margin-bottom: 0;
						padding-bottom: 0;
						width: 50%;
					}
					@media #{$medium-portrait} {
						border-bottom: 1px solid $Gray;
						padding-bottom: 15px;
						margin-bottom: 17px;
						margin-top: 0;
						width: 104%;
					}
					@media #{$medium} {					
						border-bottom: 1px solid $Gray;
						padding-bottom: 15px;
						margin-bottom: 17px;
						margin-top: 0;
						width: 72.22222%;
					}
					.entry-date {
						margin-left: -10px;
						.posted-on a {
							padding-top: 3px;
							padding-left: 20px;
							float: left;
							@media #{$medium-portrait} {
								padding-left: 0;
								padding-top: 0;
								float: none;
							}
							@media #{$medium} {
								padding-left: 0;
								padding-top: 0;
								float: none;
							}
							@media #{$large} {
								padding-left: 0;
								padding-top: 0;
								float: none;
							}
						}
					}
				}
				.entry-categorie {
                    position: relative;
					ul.post-categories {
						@include ListNoStyle;
						margin: 0;
						width: 100%;
						li {
							display: inline-block;
							a {
								@include walsheim_upper;
								line-height: 1;
							}
						}
					}
					@media #{$small} {
						float: left;
						position: relative;
						ul.post-categories {
							position: relative;
						}
					}
					@media #{$medium-portrait} {
						display: inline-block;
						width: 100%;
						@include position(absolute, 0 0 0px 0);
						float: right;
						ul.post-categories {
							@include position(absolute, 0 0 0px -75.5%);
							@include transform(rotate(-90deg));
							@include transform-origin(bottom right);
							float: right;
							li {
								margin-left: 10px;	
								float: right;
							}
						}
					}
					@media #{$medium} {
						display: inline-block;
						width: 100%;
						@include position(relative, 0 0 0px 0);
						float: right;
						ul.post-categories {
							@include position(absolute, 0 0 0px -100.3%);
							@include transform(rotate(-90deg));
							@include transform-origin(bottom right);
							float: right;
							li {
								margin-left: 10px;
								float: right;
							}
						}
					}
				}				
			}
		}
		footer.entry-meta {
			.entry-tags {
				letter-spacing: em-calc(1);
				@include minion_upper;
				margin: 20px 0;			
			}			
		}
	}	
}

footer form.newsletter input.newsletter {
    max-width: 48px;
    font-size: 20px;
    line-height: 8px;
}
.group-blog.archive {
    article {
        header {
            ul.post-categories {
                top: 30px !important;
            }
        }
    }
}
