@import "callwey-fonts";

@import "../inc/foundation/scss/variables";

// Foundation Components
@import "../inc/foundation/scss/global", "../inc/foundation/scss/type";

body {
	margin: 20px;
	a {
		text-decoration: underline;
	}
}