.fancybox-overlay {
	.fancybox-opened .fancybox-skin {
	    box-shadow: none;
	}
	.fancybox-wrap {
		.fancybox-close {
		    top: -58px;
		    right: -24px;
		    color: #fff;
			span {
			    position: absolute;
			    left: 37px;
			    top: 10px;
			}		    
		}
		.fancybox-nav span {
		    background-repeat: no-repeat;
		}
		.fancybox-prev span {
		    background-image: url("../img/nearby-arrow-left.png");
		    background-position: 20% 50%;
		}
		.fancybox-next span {
		    background-image: url("../img/nearby-arrow-right.png");
		    background-position: 80% 50%;
		}
		.callwey {
		    color: #fff;
			.title {
			    text-align: center;
			}
			.count {
			    text-align: right;
			}
		}
		.callwey-logo {
		    position: absolute;
		    top: -65px;
		    left: -52px;
		}
	}
}
