.firefox {
/*
	.nav-wrapper {
		.top-bar {
			section {
				> ul {
					a {
						@media #{$medium} {
							padding: 0 em(41.8) !important;
						}
					}
				}
			}
		}
	}
*/
	&.single {
		article header.entry-header .entry-meta .entry-categorie {
			position: relative;
			display: inline;
		}
	}
	section#my-wishlist ul#wishlist-products li {
		.book-item {
			.book a.book-thumbnail  {
				height: 250px;
				min-height: 250px;
			}
			header.book-header h3.book-title {
				height: 60px;
			}
		}
		.product-actions .button.remove {
			border-radius: 0;
		}
	}
}