footer#colophon {
	border-top: 1px solid #999999;
	margin-top: 90px;
	display:inline-block;
	width: 100%;
/*
	.nav-wrapper .top-bar section > ul {
		li {
			a {
				@media #{$medium} {
					padding: 0 em-calc(32) !important;
				}		
			}
			&:last-child a {
				border: 0;
			}
		}
	}
*/
	.site-contact {
		>.row {
			border-left: 1px solid #999999;
			border-right: 1px solid #999999;
			padding-top: 11px;
			padding-bottom: 11px;
		}
		form.newsletter {
			label {
				color: black;
				text-transform: uppercase;
				padding-top:10px;
/* 				font-size: em-calc(11); */
				margin-bottom: 0;
				text-align: center;
			}
			input.round {
				width: 90%;
				text-align: left;
				padding: 0 0 0 20px;
/* 				font-size: em-calc(11); */
				margin-top: 4px;
				height: 22px;
				margin-bottom: 15px;
				@media #{$medium} {
					margin-bottom: 0;
				}
			}
		}
		.social-networks {
/* 			padding-left: 23px; */
			margin-left: 0;
			margin-bottom: 0;
			@media #{$medium} {
				padding-left: 0px;
				&:before {
					content: "";
					border-left: em-calc(2) solid #000;
					margin-right: 20px;
					float: left;
					height: 15px;
					margin-top: 7px;
				}
			}
			li {
				margin-right: 20px;
				height: 26px;
				margin-top: 4px;
				width: auto;
/*
				@media #{$medium} {
					margin-right: 5px;
				}				
*/
				&:last-child {
					margin-right: 0;
				}
				a {
					span {
						float: left;
						font-size: em-calc(5.9) !important;
						&.icon-twitter {
							font-size: em-calc(7) !important;						
						}
/*
						&.fi-social-pinterest {
							font-size: em-calc(12) !important;
							height: 35px;
							margin-top: -7px;
						}
*/
					}
					div {
						font-size: em-calc(4.6);
						text-transform: uppercase;
						float: left;
						padding-top: 0px;
						padding-left: 5px;
					}
				}
			}
		}
		.goto-top {
/* 			background-color: red; */
			position: relative;
			@media #{$small} {
				display: none !important;
			}
			@media #{$medium} {
				display: none !important;
			}
			@media #{$large} {
				display: inherit !important;
			}
			a {
				text-transform: uppercase;
/* 				font-size: em-calc(11); */
				text-align: center;
				border-left: 1px solid #999999;
				border-right: 1px solid #999999;
				border-top: 1px solid #999999;								
				border-radius: 10px 10px 0 0;
				float: left;
				width: 100%;
				padding-top: 30px;
				padding-bottom: 57px;
				position: absolute;
				right: -1px;
				top: -21px;
				margin: 0;
				z-index: 1;
				background-image: url('../img/white-line.gif');
				background-position: left -150px;;
				background-repeat: repeat-x;
			}
		}
	}

	h3.footer-section-title {
		@include walsheim_upper;
/* 		font-size: em-calc(13); */
		margin: 0;
		border-bottom: 1px solid #999999;
	}
	#footer-widget-mobile {
		margin: 30px 0;
		aside.mobile-widget {
			text-align: center;
			text-transform: uppercase;
			min-height: 155px;
			padding: 10px 0 13px;
			h4.mobile-widget-title {
				@include walsheim_upper;
				font-size: em-calc(23);
				margin: 0;
			}
			label {
/* 				font-size: em-calc(13); */
				color: black;
			}
			input.round {
/* 				font-size: em-calc(11); */
				height: 28px;
/* 				padding: 0; */
				margin: 12px 0 13px;
			}
			button, .button {
/* 				font-size: em-calc(13); */
				text-transform: uppercase;
/* 				letter-spacing: em-calc(3); */
				margin: 0;
				padding: em-calc(13) 30px;
			}
			p {
/* 				font-size: em-calc(13); */
				padding: 0 10%;
				margin: 0 0 33px;
			}
			&#blog-mobile {
				.button {
/* 					font-size: em-calc(11); */
				}
			}
			.social-networks {
				margin-top: 30px;
				span {
					font-size: em-calc(18);
				}
				div {
					font-size: em-calc(6);
				}
			}
		}
	}
	.nav-wrapper {
		.top-bar {
			section {
				> ul {
					border-right: 0;
				}
			}
		}
	}
	#footer-navigation.site-navigation {
		@include RespNavPadding(10,30.8,39);
	}
}
.desktop {
	.nav-wrapper.site-info {
		background-color: transparent;
		@media #{$medium} {
			background-color: black;
		}
	}
	&.safari {	
		#footer-navigation.site-navigation {
		}
	}
	&.firefox {	
		#footer-navigation.site-navigation {
			@media #{$medium} {
				@include NavPadding(29.3);
/*
				a {
					background-color: aqua !important;
				}
*/
			}
			@media #{$large} {
				@include NavPadding(39);
/*
				a {
					background-color: purple !important;
				}
*/
			}
		}
	}
}
.tablet {
	footer#colophon {
		margin-top: 30px;
		border: 0;
		#followus-mobile, #newsletter-mobile {
			border-right: 1px solid #999999;
		}
		.nav-wrapper {
			.top-bar {
				section {
					> ul {
						border: 0;
					}
				}
			}
		}
		#footer-navigation.site-navigation {
			@include NavPadding(36);
/*
			a {
				background-color: orange !important;
			}
*/
			@media #{$portrait} {
				@include NavPadding(17.8);
/*
				a {
					background-color: red !important;
				}
*/
			}
		}	
	}
}
.mobile {
	footer#colophon {
		margin-top: 0;
		border: 0;
		#followus-mobile, #newsletter-mobile {
			border-bottom: 1px solid #999999;
		}
		.social-networks {
			margin-top: 10px;
			span {
				font-size: em-calc(30);
			}
			div {
				font-size: em-calc(13);
			}
		}
		#footer-navigation.site-navigation {
			ul#menu-footer {
				font-size: em-calc(9) !important;
				li {
					float: left;
					text-transform: uppercase;
					a {
						padding-right: em-calc(8);
						padding-left: em-calc(8);
						@media #{$landscape} {
							padding-right: em-calc(46.2);
							padding-left: em-calc(46.2);					
						}
					}
					&.menu-item-110, &.menu-item-111, &.menu-item-112 {
						border-top: 1px solid gray;
						a {
							padding-right: em-calc(32.3) !important;
							padding-left: em-calc(32.3) !important;
							@media #{$landscape} {
								padding-right: em-calc(87) !important;
								padding-left: em-calc(87) !important;
							}
						}
					}
				}
			}
		}
	}
}