h1#logotype {
	margin: 10px 0;
	text-align: center;
	@media #{$medium} {
		text-align: inherit;
	}
	a {
		@media #{$small} {
			padding-right:0; 		
			img {
			}
		}
		@media #{$medium} {
			padding-right: 0;
			float: left;
			img {
				float: left;
			}
		}
		@media #{$large} {
			padding-right: 37px;
			float: right;
			img {
				float: right;
			}
		}
	}
}
form.search-form {
	margin: 10px 0 0;
	position: relative;
	input.search-field {
		margin-bottom: 0;
		padding-left: 35px !important;
/*
		padding-top: 0 !important;
		padding-bottom: 0 !important;
*/
/* 		font-size: em-calc(11) !important; */
/*
		width: 102%;
		height: 34px;
*/
		text-transform: uppercase !important;
	}
	.icon-search {
		color: $Dark;
		position: absolute;
		left: 12px;
		top: 11px;
/* 		font-size: em-calc(13); */
	}
}
#magento-connect {
	margin-bottom: 0;
	margin-top: 15px;
	margin-left: 0;
	li {
		border-left: em-calc(2) solid #000;		
		@media only screen and (max-width: 640px) {
			border-left: 0;
			margin:0 0 10px !important;
			width: 100%;
			padding: 0 !important;
			a {
				margin: 0;
				padding: 0 0 0 50px;
			}
		}
		@media #{$medium} {
			padding-left: 17px;
			margin-left: 0px;
		}
		a {
			color: #000;
			text-transform: uppercase;
/* 			font-size: em-calc(12) !important; */
			line-height: 1;
/*
			&:before {
				content: "";
				border-left: em-calc(3) solid #000;
				margin-right: 20px;
				margin-top: 3px;
				float: left;
				height: 15px;
			}			
*/
		}
		&.bookmark {
			&:before {
				content: "";
				background-image: url('../img/icon-wishlist.png');
				background-position: center top;
				background-repeat: no-repeat;
				background-color: #024a94;
				position: absolute;
				left: 27px;
				top: 12px;
				width: 9px;
				height: 31px;
				@media #{$medium} {				
					left: 18px;
				}
			}
			padding-left: 22px;
			padding-right: 10px;
		}
		&.shoppingcart {
			background-image: url('../img/icon-basket-black.png');
			background-position: 1px center;
			background-repeat: no-repeat;			
			padding-left: 34px;
		}
		&.login {
			padding-left: 0;
			margin-left: 0;
			.log-in {
				padding: 0 10px 0 15px;
				@media only screen and (max-width: 640px) {
					padding: 0 0 0 50px;
				}
			}
			#login {
				position: relative;
			}
			span.logged {
				text-transform: uppercase;
/* 				font-size: em-calc(12) !important; */
				padding: 0 10px;
				.close {
					margin-left: 5px;
/* 					font-size: em-calc(18) !important; */
				}
			}
		}
	}
}
@mixin current-menu-item {
	a {
		background-color: #ededed;
		color: black;
		border-bottom: 1px solid black;
	}
}					

.nav-wrapper {
	background-color: black;
	.top-bar {
/* 		background-color: aqua !important; */
		section {
			> ul {
/*
				border-left: 1px solid $Dark;
				border-right: 1px solid $Dark;			
*/
				li {
					a {
						@media #{$medium} {					
							border-right: 1px solid $Dark;
						}
						text-align: center;
						text-transform: uppercase;
					}
					&.current-menu-item {
						@include current-menu-item;
					}				
					&:last-child {
						a {
							border-right: 0 !important;
						}
					}

					.ebookflag {
						visibility: hidden;
						display: none;
						background-size: cover;
						@media #{$medium} {
							visibility: visible;
							display: block;
							background-image: url('../img/ebook-current-menu-item-back.png');
							background-position: center bottom;
							background-repeat: no-repeat;
							height: 47px;
							left: -13px;
							&:before, &:after {
								content: "";
								background-position: left top;
								background-repeat: no-repeat;
								width: 13px;
								height: 14px;
								position: absolute;
								top: -14px;
							}
							&:before {
								background-image: url('../img/ebook-current-menu-item-left.png');
								left: 0;
							}
							&:after {
								background-image: url('../img/ebook-current-menu-item-right.png');
								right: 0;
							}
						}
					}
				}
				@media #{$large} {
					border-left: 1px solid $Dark;
					border-right: 1px solid $Dark;			
				}
			}
		}
		.name h1 {
			@include walsheim_upper;
		}
	}
}
/*
.tablet, .mobile {
	.top-bar {
		section {
			> ul {
				border-left: 0;
				border-right: 0;				
				li {
					&:last-child {
						a {
							border-right: 0;
						}
					}
				}
			}
		}
	}
}
*/
@mixin NavPadding($navpad) {
	&.top-bar {
		section {
			> ul {
				li {
					a {
						padding: 0 em-calc($navpad);
					}
				}
			}
		}
	}
}
@mixin RespNavPadding($smallpad,$mediumpad,$largepad) {
	&.top-bar {
		section {
			> ul {
				li {
					a {
						@media #{$small} {	
							padding: 0 em-calc($smallpad);
/* 							background-color: red; */
						}
						@media #{$medium} {	
							padding: 0 em-calc($mediumpad);
/* 							background-color: blue; */
						}
						@media #{$large} {
							padding: 0 em-calc($largepad);
/* 							background-color: green; */
						}
					}
				}
			}
		}
	}
}

.main-navigation {
	@include RespNavPadding(31,49.4,41.3);
}

.desktop {
	#masthead {
		.medium-portrait-13 {
			width: initial;
			@media only screen and (max-width: 640px) {
				width: 100%;
			}
			@media #{$medium-portrait} {			
				width: 77.77778%;
			}
			@media #{$medium} {
				width: initial;
			}
			@media #{$large} {			
				width: initial;
			}
		}
	}
	&.windows {		
		.main-navigation {
/* 			@include RespNavPadding(30,47.6,40); */
/*
			a {
				background-color: maroon !important;
			}
*/
		}
	}
	&.firefox {		
		.main-navigation {
			@include RespNavPadding(31,48,41.2);
/*
			@media #{$large} {
				a {
					background-color: navy !important;
				}
			}
*/
		}
	}
	&.safari {		
		.main-navigation {
/* 			@include RespNavPadding(31,49.3,41.3); */
/*
			@media #{$medium} {
				a {
					background-color:teal !important;
				}
			}
			@media #{$large} {
				a {
					background-color: yellow !important;
				}
			}
*/
		}
	}
}

.tablet {
	.main-navigation {
		@include NavPadding(49.3);
/*
		a {
			background-color: orange !important;
		}
*/
	}
	#magento-connect {
		li {
			padding: 0;
			margin: 0;
			a {
				padding: 0 15px;
				margin: 0;				
			}
			&.bookmark {
				border-left: 0;
				&:before {
					display: none;
				}
			}
			&.login a.log-in {
				padding: 0 15px;
				margin: 0;		
			}
			&.shoppingcart {
				padding-left: 40px;
				a {
					padding: 0 15px 0 0;
				}
			}
		}
	}
	.search-dropdown {
		margin-top: 15px;
		a {
			font-size: em-calc(20);
			color: black;
		}
	}
	#mobile_search_dropdown {
		border-top: 1px solid silver;
		display: none;
		form {
			margin: 0;
			padding: 3px 0;	
		}
	}
	@media #{$portrait} {
		header#masthead.site-header {
			.main-navigation {	
				@include NavPadding(28);
/*
				a {
					background-color: fuchsia !important;
				}
*/
			}
		}
	}
}

.mobile {
    .mobile_menu_dropdown,
    .mobile_search_dropdown {
        display: none;
        width: 100% !important;
        left: 0px !important;
        margin-top: 12px;
        background: #fff !important;
        z-index: 1;
    }
    .mobile_search_dropdown {
        background: none !important;
        
    }
    .mobile_menu_dropdown.open,
    .mobile_search_dropdown.open {
        display: block;
    }
            
	#mobile-header {
		margin: 2px 0 0;
		padding-bottom: 4px;
		.small-4 {
			span {
				font-size: em-calc(25);
				margin-top: 10px;
				display: inline-block;
			}
		}
		
		#search-form {
			background-color: black;
			margin: 1px 0;	
			display: inline-block;
			width: 100%;		
			form.search-form {
				display: inline-block;
				width: 100% !important;
				margin: 7px 0;
				input.search-field {
					padding-left: 0 !important;
					text-align: center;
					width: 100% !important;
					height: 23px !important;
				}
			}
		}
	}
	.main-navigation {
		section.top-bar-section {
			ul {
				&#menu-main, &#menu-magento {
					font-size: em-calc(9) !important;
					background-color: transparent;
					background: transparent;
					li {
						background-color: black;
						text-transform: uppercase;
						text-align: center;
						margin-bottom: 1px;
						@include ListNoStyle;
						a {
							color: white;
							padding: 12px 0;
						}
						&.current-menu-item {
							@include current-menu-item;	
						}
					}
				}
				&#menu-magento {
					li {
						a {
							display: block;
						}
						&.bookmark {
							width: 49.9%;
							float: left;
							margin-right: 1px;
							position: relative;
							&:before {
								content: "";
								background-image: url('../img/icon-wishlist-mobile.png');
								background-position: center top;
								background-repeat: no-repeat;
								background-color: #024a94;
								position: absolute;
								left: 8px !important;
								top: 10px !important;
								width: 6px;
								height: 19px;
							}
						}
						&.shoppingcart {
							width: 50%;
							float: left;
							background-image: url('../img/icon-basket-post3book.png');
							background-position: 13px center;
							background-repeat: no-repeat;
							a {
								padding-left: 30px;
							}
						}
						&.login {
							.log-in {
							}
							#login {
							}
							span.logged {
								.close {
								}
							}
						}
					}
				}
			}
		}
	}
}

.tax-kategorie {
	li.current-menu-item {
		@include current-menu-item;
	}	
}
@import "home-orbit";