#magazines {
	margin-top: 20px;
	h2.section-title {
		margin-top: 30px;
		padding-left: 5px;
		@media #{$medium} {
			font-size: $h2-font-size - em-calc(6);
		}
		@media #{$large} {
			font-size: $h2-font-size;
		}
	}
	h3.section-subtitle {
		margin-top: 65px;
		text-align: center;
	}
	.magazine {
		padding-top: 10px;
		.magaince-thumb-table {
			display: table;
			width: 100%;
			a.magazine-thumbnail {
				display: table-cell;
				vertical-align: middle;
				height: 280px;
				img {
					border: 1px solid #999999;
					padding: 1px;
					float: left;
					width: 100%;
				}
			}			
		}
		h3.magazine-title {
			font-size: em-calc(13);
			padding: 0 20px;
			margin-top: 6px;
			@include walsheim;
			text-align: center;
		}
	}
	
	#basic-tablet {
		ul {
			li {
				text-align: center;
				.magazine {
					border-top: 1px solid #999999;
				}
			}
		}		
	}
	
	/* sly */
	#basic.frame {
		height: 350px;
		line-height: 350px;
		overflow: hidden;
		margin-left: 30px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			li {
				float: left;
				width: 193px;
				height: 100%;
				margin: 0 18px 0 0;
				padding: 0;
				text-align: center;
				cursor: pointer;
				border-top: 1px solid #999999;
			}
		}
	}
	#basic.frame ul li.active {
	}
	
	/* Scrollbar */
	.scrollbar {
		margin: 0 0 0 30px;
		height: 12px;
		background: white;
		border: 1px solid #999;
		line-height: 0;
		.handle {
			width: 100px;
			height: 100%;
			background: black;
			cursor: pointer;
			border-radius: 1000px;
			.mousearea {
				position: absolute;
				top: -9px;
				left: 0;
				width: 100%;
				height: 12px;
			}
		}
	}
}
.tablet {
	#magazines {
		margin-top: 0 !important;
		h2.section-title {
			padding-left: 0px;
		}
	}
}