ul#homeproducts {
	list-style: none;
	list-style-position: inside;
	list-style-type: none;
	list-style-image: none;	
}
#bestseller, #filtered-produkts {
	@include section-margin-bottom;
	li {
		&:first-child {
			@media #{$large} {
				border-top: 0;
				text-align: left;
				padding-top: 20px;
			}
			@media #{$medium} {
				border-top: 0;
				text-align: left;
				padding-top: 20px;
			}
			@media #{$small} {
				border-top: 0;
				text-align: center;
				padding-top: 0px;
			}
		}
		text-align: center;
		.item-wrap {
			border-top: 1px solid #999999;
			padding-top: 40px;
			position: relative;
			text-align: center;
			a.bookmark-link {
				right: 5px;
			}
			.book-cover-hover {
				.book-meta {
					background-color: rgba(255,255,255,0.60);
					position: absolute;
				    opacity: 0;
				    display: block;
				    /* transition: opacity 0.3s linear 0s; */
					@include transition (opacity 0.2s linear 0s);			    
					table, td, tr {
						border: 0;
						background: transparent;
						background-color: transparent;					
					}
					table {
						height: 230px;
						margin: 0;
						text-align: center;
					}
					h4.book-autor {
						margin: 0;
						@include walsheim;
						font-size: em-calc(11);
						line-height: 1;
						span, a {
							display: block;
						}
					}
					.book-overview {
						padding-right: 30px;
						padding-left: 30px;
						span {
							@include minion_upper;
							font-size: em-calc(26);
							line-height: em-calc(20);
							&:hover {
								text-decoration: underline;							
							}
						}
					}
					.book-price {
						@include  minion;
						font-size: em-calc(20);
					}
				}
				&:hover {
					.book-meta {
					    opacity: 1;
					    /* transition: opacity 1s linear 0s; */
						@include transition (opacity 0.2s linear 0s);
					}
				}							
				.book {
					margin-bottom: 10px;
					display: table;
					width: 100%;
					.book-thumbnail {
						display: table-cell;
						vertical-align: middle;
						height: 200px;
						min-height: 200px;
						@media #{$medium-portrait} {
							height: 230px;
							min-height: 230px;
						}
						width: 100%;
					}				
				}
			}
			header.book-header {
				display: table;
				width: 100%;
				min-height: 90px;
				height: 90px;
				@media #{$medium-portrait} {
					height: 35px;
				}
				@media #{$medium} {
					height: 90px;
				}
				h3.book-title {
					display: table-cell;
					vertical-align: top;
					@include walsheim;
					font-size: em-calc(11);
					letter-spacing: em-calc(2.5);
					line-height: 1.3;
					margin: 30px 0;
				}
			}			
			footer.book-footer {
				display: block;
				width: 100%;
				margin: 10px 0 0;
				h4.book-autor, .book-price {
					display: table;
					vertical-align: middle;
					min-height: 22px;
					float: left;
					width: 100%;
					margin: 0;
					a {
						display: table-cell;
						vertical-align: middle;
					}
				}
				h4.book-autor {
					font-size: em-calc(13);
					height: 40px;
				}
				.book-price {
					font-size: em-calc(32);
					height: 40px;
				}
			}
			header.book-header, footer.book-footer {
				padding: 0;
				@media #{$medium} {
					padding: 0 10%;
				}
				@media #{$large} {
					padding: 0;
				}
			}
		}
	}
}
.tablet {
	#bestseller, #filtered-produkts {
		margin-bottom: 0 !important;
	}
}