#promoted-product-category {
	margin-top: 28px;
	text-align: center;	
	position: relative;
	@include section-margin-bottom;
	h2.section-title {
		margin-top: 70px;
	}
	h4.kategorie-name {
		@include minion_upper;
		line-height: 1;
		margin: 0 0 5px;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		font-size: em-calc(30);
		@media #{$medium} {
			font-size: em-calc(92);
			margin: 0;				
		}
		@media #{$large} {
			font-size: em-calc(98);
			margin: 0;
		}
	}
	p {
		text-align: center;
		margin: 40px auto 50px;
		display: none;
		@media #{$medium} {
			display: block;
		}
	}
	h4, p {
		padding-left: 0;	
		@media #{$medium} {
			padding-left: 0;	
		}
		@media #{$large} {
			padding-left: 16%;
		}
	}
	a.view-all {
		text-align: left;
		position: absolute;
		right: 0;
		bottom: 0;
		@include minion;
		font-size: em-calc(18);
		line-height: 1.3;
		&:hover {
			text-decoration: underline;
		}
	}
}
.tablet {
	#promoted-product-category {
		margin-top: 0 !important;
		margin-bottom: 40px !important;
		h4.kategorie-name {
			@media #{$portrait} {
				font-size: em-calc(62);
			}
			@media #{$landscape} {
				font-size: em-calc(92);
			}
		}
	}
}
.mobile {
	#promoted-product-category {
		margin-top: 0;
		h2.section-title {
			margin-top: 0;
		}
		h4.kategorie-name {
			font-size: em-calc(40) !important;
/*
			a {
				color: purple !important;
			}
*/
		}
		a.view-all-categories {
			@include walsheim_upper;
		}
	}
}