@mixin nearby_orbit_caption {
	.orbit-caption {
		text-align: center;
		padding: 0;
		height: 100%;
		.caption-container {
			display: table;
			width: 100%;
			height: 100%;
			.caption {
				display: table-cell;
				vertical-align: middle;
				.caption-box {
					background-color: white;
					display: inline-block;
					padding: 11px 32px 5px;
					h2.entry-title {
						text-transform: uppercase;
						margin: 0;
						padding: 0;
/* 						font-size: em(29); */
						@include minion;
						display: inline;
						white-space: normal;
						line-height: 1;
					}									
				}
			}
		}
	}
}
.row.slider {
	margin-bottom: 70px;
	#background-nearby {
		background: #000;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		overflow: hidden;
		.orbit-container {
			ul {
				margin: 0 auto;
				li {
					a.entry-thumbnail {
						width: 100%;
						height: 100%;
						display: inline-block;
						@include nearby_orbit_caption;
					}
				}
			}
			.orbit-prev, .orbit-next {
				top: 0;
				background-color: rgba(0,0,0,0.8);
				background: rgba(0,0,0,0.8);
				height: 100%;
				margin-top: 0;
				span {
					border: 0;
					width: 47px;
					height: 100%;
					top: inherit;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 70%;
					margin: 0;
					@media #{$medium} {
						background-size: 90%;
					}
					@media #{$large} {
						background-size: 100%;
					}
				}
			}
			.orbit-prev span {
				background-image: url('../img/nearby-arrow-left.png');
				right: 10px;
				@media #{$medium} {
					right: 30px;
				}	
				@media #{$large} {
					right: 50px;
				}
			}
			.orbit-next span {
				background-image: url('../img/nearby-arrow-right.png');
				left: 10px;
				@media #{$medium} {
					left: 30px;
				}	
				@media #{$large} {
					left: 50px;
				}
			}
		}
	}
}
a.mobile-orbit {
	position: relative;
	float: left;
	margin-bottom: 40px;
	@include nearby_orbit_caption;
	.orbit-caption {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		.caption-box {
			padding: 5px 10px !important;
			h2.entry-title {
/* 				font-size: em(13) !important; */
			}
		}
	}
}
.tablet {
	@media #{$portrait} {
		.slider-medium-portrait {
			width: 100%;
		}
	}
	.row.slider {
		margin-bottom: 0 !important;
	}
}