#blogs-posts {
	border-top: 1px solid #999999;
	padding-top: 1px;
	> .row {
		border-top: 1px solid #999999;
		padding-top: 45px;
	}
	h2.section-title {
		margin: 0;
		@media #{$large} {	
			padding-left: 40px;
		}
	}
	h3.section-subtitle {
		margin: 40px auto 70px;
	}
	#masonryContainer { 
		width: 0 auto;
	}
	.masonry-brick {
		width: 250px;
		margin-bottom: 22px;
		&:nth-child(3) {
			margin-right: 0;
		}
		float: left;
		@include masonry-brick-entry;
	}
}

.tablet {
	#blogs-posts {
		margin-bottom: 30px;
	}
}