@import "../inc/foundation/scss/variables";
body.ie.ie9 {
	letter-spacing: em-calc(2) !important;
	input, button {
		letter-spacing: em-calc(2) !important;
	}
}	
.ie9, .ie10, .ie11 {
	section {
		h2.section-title {
			font-size: $h2-font-size - em-calc(8);
		}
	}
	#masthead {
		.medium-portrait-13 {
			width: 38.88889% !important;
			#magento-connect {
				li {
					padding-left: 10px;
					&.bookmark {
						padding-left: 15px;
						&:before {
							left: 10px;
						}
					}
					&.shoppingcart {
						padding-left: 35px;
					}					
					&.login {
						padding-left: 10px;
						.log-in, span.logged {
							padding-left: 0px;							
						}
					}					
				}
			}
		}
	}
	#promoted-product-category h4.kategorie-name {
		font-size: em-calc(70);
	}
	#magazines h2.section-title {
		font-size: $h2-font-size - em-calc(8);
	}
	#related-posts, #related-site-content, #custom-related-content {
		h3.section-title {
			font-size: $h2-font-size - em-calc(8);			
		}
	}
	#secondary, #secondary-left {
		aside.widget {
			&#social-widget {
				form.newsletter {
					legend {
						width: 100%;
						text-align: center;
					}
				}
			}
			&#presse {
				.big-text {
					letter-spacing: 0px !important;
					font-size: em-calc(100);					
				}
			}
			&.widget_categories h4.widget-title {
				font-size: em-calc(30);
			}
			&#pressebox h4.widget-title {
				font-size: em-calc(27);				
			}
		}
	}		
	#magazine-list {
		.magazine-thumbnail {
			.magazine-cell {
				a img {
					width: 100%;
				}
			}
		}
	}
}