#jobs-list {
	section {
		border: 1px solid silver;
		padding: 1px !important;
		margin-bottom: 20px !important;
		.section-inner {
			border: 1px solid silver;
			border-bottom: 0;
			display: inline-block;
			width: 100%;
		}
		h3.job-title {
			margin: 0 10px 20px;
			padding: 20px 0;
			@include walsheim_upper;
			line-height: 1;
/* 			font-size: em(22); */
			border-bottom: 1px solid black;			
		}
		p.job-location {
			margin: 0;
			span {
/* 				font-size: em(13); */
			}
		}
		a.download-pdf {
			background-image: url('../img/icon-pdf.png');
			background-repeat: no-repeat;
			background-position: left center;
			height: 46px;
			float: right;
			padding-left: 55px;
			padding-top: 12px;
		}
		.open {
			border: 1px solid silver;
			border-top: 0;
/* 			font-size: em(13); */
			line-height: 1;
			padding-bottom: 20px;
			padding-top: 40px;
			margin-top: -2px;
			a {
				margin: 0 20px;
				span {
					background-image: url('../img/icons-jobs.png');
					background-repeat: no-repeat;
					padding-left: 30px;
					height: 24px;
					float: left;
					padding-top: 6px;
					&.open-arrow {
						background-position: left top;
						margin-right: 50px;
					}	
					&.job-description-icon {
						background-position: left bottom;						
					}	
				}
			}
		}
		.content {
			border: 1px solid silver;
			border-top: 0;
			padding: 0 20px 20px;
/* 			font-size: em(13) !important; */
		}
		&.active {
			.open {
				border-bottom: 0;
			}
		}
	}
}