#KategorieMasonryContainer {
	border-top: 1px solid $Gray;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid $Gray;
	display: inline-block;
}
.KategorieMasonry-brick {
	margin-bottom: 20px;
}
.tax-kategorie, .post-type-archive-produkt, .post-type-archive-ebook, .post-type-archive-category-child {
	.kategorie-term {
		position: relative;
		img {
			width: 100%;
		}
		.kategorie-link {
			display: block;
		}
		.kategorie-container {
			position: absolute;
			text-align: center;	
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			.kategorie-table {
				display: table;
				width: 100%;
				height: 100%;
				.kategorie-cell {
					display: table-cell;
					vertical-align: middle;
					h4.kategorie-title {
						background-color: white;
						padding: 15px 30px 10px;
						@include minion_upper;
						font-size: em-calc(16);
						margin: 0;
						line-height: 1;
						display: inline-block;
						@media #{$medium} {
							padding: 15px 30px 10px;
							font-size: em-calc(26);
						}						
					}					
				}
			}	
		}
	}	
}
.medium-45 {
	@media only screen and (min-width:640px) {
        width: 25%;
        margin-bottom: 20px;
    }
	@media #{$medium} {
        margin-bottom: 40px;
	}
}
.firefox {
	&.tax-kategorie, &.post-type-archive-produkt, &.post-type-archive-ebook, &.post-type-archive-category-child {
		#adspace {
			display: none;
			@media #{$medium} {		
				display: block;
			}
		}
	}
}