#login-page {
	p.site-section-text, p.login-text {
/* 		font-size: em(16); */
	}
	.button {
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
/* 		font-size: em(16); */
	}
}
.login-page {
	margin-top: 110px;
	h3 {
/* 		font-size: em(28); */
		@include walsheim_upper;
	}
}
#register-page, #home-page {
	p.login-text {
		height: 127px;
	}
}

/*Login button animation*/

#tttmagentorest_form_login input {
    margin: 6px 0px;
}
#tttmagentorest_form_login input[type="submit"] {
    background-color: black;
    border-color: black;
    margin:10px 0px;
}
#tttmagentorest_form_login .progressel {
    display: none;
}
#tttmagentorest_form_login.onprogress .progressel {
    display: block;
}
#tttmagentorest_form_login.onprogress .progressel div {
	background-color: black;
}
#tttmagentorest_form_login.onprogress fieldset {
    display: none;
}