.page-template-page-template-organization-php {
	h4.section-title {
		margin-right: 0;
		margin-left: 0;
		letter-spacing: em-calc(1);
		font-size: em-calc(22);
		@media #{$medium} {		
			font-size: em-calc(28);
		}
	}
	@media #{$medium} {
		.medium-block-grid-2 {
			h4.section-title {
				padding-right: 30%;
			}
		}
	}
	#ID-87 {
		border-bottom: 2px solid black;
	}
}
.members-area {
	> li {
		margin-bottom: 76px;
	}	
}
.member-details {
	height: auto;
	padding-top: 40px;
	@media #{$large} {
		height: 382px;
		padding-top: 0;
	}
	.member-details-table {
		display: table;
		height: 100%;
		width: 100%;
		.member-details-cell {
			display: table-cell;
			vertical-align: bottom;
			.vcard {
				.fn {
					@include minion_upper;
				}
				.position, .email, .tel, .fax {
					@include paragraphsize;
					font-size: em-calc(13);
				}
				.email a {
					text-decoration: underline;
				}
				.position {
					margin-bottom: 20px;
				}
			}
		}
	}
}