@media only screen and (min-width:1025px) {
	.content-area.large-push-1 {
		left: 4% !important;
	}
}
.page, .page-template-page-template-towidget-php, .single-autor {
	h1.page-title {
		margin: 0 0 86px;
	}
	h4.page-section-title {
		margin: 68px 10px 18px 0;
		padding-bottom: 12px;
		@include walsheim_upper;
		font-size: em-calc(28);
		border-bottom: 1px solid Black;
	}
	p.page-section-text {
		@include paragraphsize;
		font-size: em-calc(13);
	}
	#page-extra-content {
		@media #{$medium} {
			margin-left: -15px;
			padding-right: 5px;
		}
	}
	#primary, #secondary {
		margin-top: 10px;
	}
	#secondary {
		top: 0;
	}
/*
	@media only screen and (max-width:768px) {
		#primary.content-area.medium-push-1 {
			left: 0% !important;
		}
	}
*/
}
@import "timeline";
@import "buchhandle";