.single-produkt, .single-ebook {
	.social-buttons {
		border-bottom: 1px solid #999;
		.sharedaddy.sd-sharing-enabled {
			padding: 20px 0;
			.inline-list{
				margin-bottom: 0;
				li {
					margin: 0 20px;
				}
			} 
		}
	}
	article {
		header.product-header {
			padding-bottom: 58px;
			.product-meta {
				.product-categorie {
					@include site-section-title;
					margin-top: 53px;
					a:first-child:after {
						content: "\2014 \0020";
					}
				}
			}
			h1.product-title {
				@include minion_upper;
				line-height: 1;
				letter-spacing: em-calc(2);
				font-size: em-calc(49);
				@media #{$large} {
					padding: 0 10%;
				}
			}
			.product-author {
				@include post-author;
			}
		}
		#product-info {
			border-top: 1px solid #999;
			padding-top: 70px;
			margin-bottom: 100px;			
			position: relative;
			display: inline-block;
			width: 100%;
			.product-price {
				margin-top: 45px;
			}
			.product-details {
				margin-top: 33px;
				margin-bottom: 40px;
				@include paragraphsize;
				line-height: 1.8;
			}
			.product-description {
				h1,h2,h3,h4,h5,h6 {
					text-transform: uppercase;
				}
				p {
					@include paragraphsize;
				}
				.orbit-container {
					background: transparent;
					margin-top: 77px;
					.orbit-prev, .orbit-next {
						background-color: white;
						height: 100%;
						width: 47px;
						background-repeat: no-repeat;
						background-position: center center;
						top: 25px;
						background-size: 50%;
						@media #{$medium} {
							background-size: 100%;
						}
						span {
							display: none;					
						}
					}					
					.orbit-prev {
						background-image: url('../img/orbit-arrow-dark-left.png');
					}
					.orbit-next {
						background-image: url('../img/orbit-arrow-dark-right.png');
					}					
					ul#press-reviews {
						li {
							background-color: white;
							blockquote {
								@include minion_semi_upper;
								color: black;
								border: 0;
								margin-bottom: 0;
								font-size: em-calc(16);
								line-height: 1.2;
								padding: 0 em-calc(30);
								cite {
									margin-top: 30px;
									@include walsheim;
									font-size: em-calc(7);
									text-transform: none;
									&:before {
										content: "";
									}
								}
								@media #{$medium} {
									font-size: em-calc(27);
									padding: 0 em-calc(40);
									line-height: 1.4;
									cite {
										font-size: em-calc(7);
									}
								}
							}
						}
					}					
				}
			}
			a.bookmark-icon.bookmark-link {
				left: 70px;
			}
		}
		.product-info {
			span.price {
				font-size: em-calc(30);
			}
			small.vat {
				font-size: em-calc(13);
				@media #{$medium} {
					font-size: em-calc(10);
				}
				@media #{$large} {
					font-size: em-calc(12);
				}
			}			
			.ebook-icon {
				border: 1px solid black;
				border-radius: 10px;
				padding: 12px 10px 10px;
				.fi-tablet-portrait, .fi-book, .icon-book {
					font-size: em-calc(70);
				}
				.icon-book {
					margin-bottom: 10px;
				}
				span {
					font-size: em-calc(13);
					text-transform: uppercase;
				}
			}
			.button {
				margin-bottom: 10px;
				width: 100%;
				font-size: em-calc(13);
				padding-top: 10px;
				padding-bottom: 12px;
				@media #{$medium} {
					font-size: em-calc(14);
					padding-top: 10px;
					padding-bottom: 12px;
				}
				@media #{$large} {
					font-size: em-calc(17);				
					padding-top: 21px;
					padding-bottom: 23px;
				}
				img {
					margin-right: 10px;
					margin-top: -12px;
					margin-bottom: -5px;
				}
			}
			h5.free-shipping {
				@include walsheim_upper;
				line-height: 1;
				margin: 10px 0 0;
				letter-spacing: em-calc(1.5);				
				@media #{$medium} {
					font-size: em-calc(22);
				}
				@media #{$large} {
					font-size: em-calc(26);				
				}
			}
		}
		#product-overview {
			border-top: 1px solid $Gray;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		#product-gallery {
			border-top: 1px solid $Gray;
			padding-top: 40px;
			#book-author-quote, #book-video, #book-video .featured_video_plus {
				height: 390px;
				width: 584px;
			}
			.gallery-object {
				margin-bottom: 20px;
				margin-left: 10px;
				margin-right: 10px;
			}
			#book-author-quote {
				blockquote {
					@include minion_semi_upper;
					font-size: em-calc(27);
					color: black;
					border: 0;
					cite {
						@include minion_upper;
						color: black;
						font-size: em-calc(11);
						margin: 70px 0 40px;
						font-style: normal;
						&:before {
							content: "";
						}
					}
				}
			}
		}
		#book-coauthors {
			.coauthor-name {
				@include minion_upper;
				font-size: em-calc(13);
				margin: 32px 0 0; 
			}
		}
		footer.product-meta {
			border-top: 1px solid $Gray;
			padding-top: 50px;
			padding-bottom: 50px;
			strong, span.vcard {
				display: inherit;
			}
			strong.text-center {
				@include minion_upper;
				margin-top: 30px;
				margin-bottom: 30px;
/* 				font-size: em-calc(13); */
			}
			span.vcard {
				font-size: em-calc(24);
				margin: 0 0 30px;;
				padding: 0;
				text-transform: uppercase;				
			}
			.author-description, .photographer-description {
				@media #{$medium} {
					@include columns(2 8em);
				}
				p {
					@include paragraphsize;
				}
			}
			#book-author {
				margin-bottom: 12px;
				.book-author {
					margin-bottom: 20px;
				}
			}
		}
		#product-info-footer {
			border-top: 1px solid $Gray;
			border-bottom: 1px solid $Gray;
			padding-top: 40px;
			padding-bottom: 40px;
			a.bookmark-icon.bookmark-link {
				left: 10px;
			}			
		}
	}
	#product-categories {
		margin-top: 35px;
		li {
			border-left: 1px solid $Gray;
			display: table;
			padding-bottom: 0;
			height: 122px;
			&:first-child {
				border-left: 0;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				@include minion_semi_upper;
				font-size: em-calc(35);
				line-height: em-calc(18);
			}
		}
	}
}
.mobile {
	#product-info {
		.product-thumbnail {
			margin-bottom: 20px;
		}
	}
}