#main {
	#tttmagentorest_form_register {
		margin: 25px 0 0 !important;
		min-height: 400px;
		input.round {
			margin-bottom: 10px !important;
		}
		label.newsletter {
			margin: 10px 0 !important;
		}
		input.button {
			margin: 10px 0 0 !important;
			padding-top: 10px !important;
			padding-bottom: 10px !important;
/* 			font-size: em(13) !important; */
		}
	}
}