#related-site-content, #custom-related-content {
	margin-top: 15px;
	aside {
		border: 1px solid silver;
		float: left;
		width: 100%;
		position: relative;
		.content-image {
			/* height: 265px; */
			a {
				width: auto;
				height: auto;
				margin: 0 auto;
			}
		}
		header {
			background-color: white;
			margin: 0 35px;
			position: absolute;
			bottom: -50px;
			h3, h4 {
				display: table;
				margin: 0;
				width: 100%;
				height: 50px;
				font-size: em-calc(13);
				color: red;
				@media #{$medium} {
					font-size: em-calc(13);
					color: green;
				}
				a {
					vertical-align: middle;
					display: table-cell;
				}
			}
			h4.content-title {
				@include walsheim_upper;
				position: relative;
				padding: 0 10px;
				span {
					position: absolute;
					bottom: 0;
					left: 63px;
					right: 63px;
					border-bottom: 1px solid black;
				}
			}
			h3.content-subtitle {
				@include minion_upper;
			}
		}
	}
}
#custom-related-content {
	aside {
		padding: 1px;
		.content-image {
			min-height: 269px;
			border: 1px solid silver;
		}
	}
}
.desktop {
	&.archive {
		&.post-type-archive, &.post-type-archive-rezepte {
			#related-site-content, #custom-related-content {
				border-top: 1px solid #999;
				padding-top: 30px;
				margin-top: 40px;
			}
		}
	}
}
.mobile {
	#related-site-content, #custom-related-content {
		margin-bottom: 60px;
		li {
			margin-bottom: 40px;
		}
		aside {
			.content-image {
				min-height: 170px;
			}
		}
	}
}
.tablet {
	#related-site-content, #custom-related-content {
		margin-bottom: 20px;
		aside {
			.content-image {
				min-height: 206px;				
			}
		}
	}
}
.tax-kategorie, .post-type-archive-produkt, .post-type-archive-ebook, .post-type-archive-category-child {
	#related-site-content {
		margin-top: 30px;
	}
}
.blog.group-blog, .page-template-page-template-organization-php {
	#related-site-content, #custom-related-content {
		border-top: 1px solid silver;
		padding-top: 30px;
		margin-top: 60px;
	}
}