.home {
	#secondary {
		margin-bottom: 50px;
	}
}
#secondary {
	aside.widget {
		@media #{$medium} {
			margin-right: -48px;
		}
		@media #{$large} {
			margin-right: -30px;
		}
	}
}
#secondary-left {
	aside.widget {
		@media #{$medium} {
			margin-left: -48px;
		}
		@media #{$large} {
			margin-left: -30px;
		}
	}
}
#secondary, #secondary-left {
	aside.widget {
		border: 1px solid silver;
		margin-bottom: 45px;
		&:last-child {
			margin-bottom: 0;
		}
		padding: 1px;
		.widget-container {
			border: 1px solid silver;		
		}
		&.widget_categories {
			text-align: center;		
			h4.widget-title {
				@include walsheim_upper;
				font-size: em-calc(40);
				line-height: 1;
				margin: 25px 0 32px;
			}
			ul.side-nav {
				padding-top: 0;
				li {
					a {
						@include minion_upper;
					}
				}
			}
		}
		&#social-widget {
			ul.social-networks {
				box-shadow: inset 0px 0px 35px #f7f7f7;
				background-color: #fdfdfd;
				border-bottom: 1px solid silver;
				margin: 0;
				padding: 20px 20px;
			}
			form.newsletter {
				padding: 25px 10px 0px;
				text-align: center;
				legend {
					font-size: em-calc(16);
					@media #{$medium} {
						font-size: em-calc(24);	
					}
					@media #{$large} {
						font-size: em-calc(28);	
					}
					text-transform: uppercase;
					width: 100%;
				}
				label {
					margin-top: 14px;
					margin-bottom: 20px;
					line-height: em-calc(16);
					display: inline-block;
					font-size: em-calc(13);
				}
				input {
					text-align: center;
					height: 33px;
				}
                button.button-newsletter {
                    padding: 8px 13px 7px;
                    margin: 15px 0 0;
                    border: 0;
                    font-size: em-calc(13);
					letter-spacing: em-calc(2);
                }
			}	
		}
		&#day-recipe {
			text-align: center;
			h4.widget-title {
				@include walsheim;
				line-height: 1;
				margin-top: 22px;
				margin-bottom: 17px;
				font-size: em-calc(20);
				@media #{$medium} {
					font-size: em-calc(30);
				}				
				@media #{$large} {
					font-size: em-calc(40);
				}
			}
			h3.recipe-title {
				@include walsheim;
				font-size: em-calc(13);
				padding-right: 10%;
				padding-left: 10%;
				margin-bottom: 23px;
			}
			a.recipe-thumbnail {
				position: relative;
				text-align: center;
				float: left;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				margin-bottom: 26px;
				.recipe-meta {
					@include minion_upper;
					border: 1px solid silver;
					padding: 10px;
					position: absolute;
					bottom: -20px;
					background-color: white;							
					left: 10%;
					right: 10%;
					font-size: em-calc(14);
					@media #{$medium} {
						left: 29%;
						right: 29%;
						font-size: em-calc(20);
					}
				}				
			}
		}
		&#slideshow {
			h4.widget-title {
/* 				font-size: em-calc(16); */
				text-align: center;
				margin-top: 10px;
				margin-bottom: 4px;
				text-transform: uppercase;
			}
			.gallery {
				padding: 0 8px;
				margin-bottom: 0;
			}
			.gallery-title {
				@include walsheim;
				text-align: center;
				text-transform: uppercase;
/* 				font-size: em-calc(21); */
				margin-top: 13px;
				margin-bottom: 12px;
			}
		}
		&#toplist {
			.orbit-container {
				background: transparent;
				li {
					background-color: white;
				}
			}
			h4.widget-title {
				text-align: center;
				text-transform: uppercase;
				line-height: em-calc(18);
				margin: 13px auto 24px;
				font-size: em-calc(16);
				@media #{$medium} {
					font-size: em-calc(21);
				}				
				@media #{$large} {
					font-size: em-calc(22);
				}
			}
			.number-wrap {
				padding: 0 22px;
				.number-back {
					width: 100%;
/*
					border-radius: 1000px;
					background-color: black;					
*/
					position: relative;					
					text-align: center;
					background-image: url('../img/toplist-number-back.png');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					.number {
						color: white;
						line-height: 0.92;
						&:before {
							content: "№";
							position: absolute;
							left: 60px;
							display: none;
							@media #{$medium} {
								top: 98px;
								display: block;
							}
							@media #{$large} {
								top: 120px;
								display: block;
							}
							font-size: em-calc(2) !important;
							@include minion;
						}
						a {
							color: white;
							&:hover {
								color: white;
							}
						}						
						&.post-2 {
							line-height: 0.86;
							&:before {
								left: 42px;
								@media #{$medium} {
									top: 74px;
								}
								@media #{$large} {
									top: 103px;
								}
							}
						}
						&.post-3 {
							line-height: 0.90;
							&:before {
								left: 41px;
								@media #{$medium} {
									top: 74px;
								}
								@media #{$large} {
								top: 106px;
								}
							}
						}
						&.post-4 {
							&:before {
								left: 24px;
								top: 87px;
							}
						}
						&.post-5 {
							&:before {
								left: 22px;
								top: 82px;
							}
						}
					}
					@media #{$small} {
						height: auto;
						.number {
							font-size: em-calc(130);
						}
					}
					@media #{$medium} {
						height: 206px;
						.number {
							font-size: em-calc(200);
						}
					}
					@media #{$large} {
						height: 244px;
						.number {
							font-size: em-calc(250);
						}
					}
				}				
			}
			.entry-title {
				text-align: center;
				@include minion;
				font-size: em-calc(22);
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				margin: 20px 20px 26px;
				padding: 16px 0 20px;
			}
		}
		&#promoted-autor, &#promoted-page {
			.widget-container {
				background-color: black;
				.autor-wrap {
					position: relative;
				}
				.autor-thumbnail {
					margin: 13px 13px 26px;
					background-color: black;
					height: auto;
					display: inline-block;
					a, img {
						float: left;
						width: 100%;
					}
				}
				h4.widget-title {
					@include walsheim_upper;
					color: white;
					text-align: center;
					margin: 0;
					position: absolute;
					left: 0;
					right: 0;
					font-size: em-calc(40);
					line-height: em-calc(13);
					bottom: 12px;
					@media #{$medium} {
						font-size: em-calc(61);
						line-height: em-calc(13);
						bottom:0;
					}
					@media #{$large} {
						font-size: em-calc(61);
						line-height: em-calc(13);
						bottom: 0;
					}
				}
				h3.widget-subtitle {
					font-size: em-calc(13);
					text-align: center;
					color: white;
					text-transform: uppercase;
					margin: 10px 30px 26px;
					a {
						color: white;
					}
				}
			}
		}
		&#presse {
			text-align: center;
			text-transform: uppercase;
			@include minion;
			.widget-container {
				padding: 18px 22px 0;
			}
			.big-text {
				@media #{$medium} {
					font-size: em-calc(90);
				}
				@media #{$large} {
					font-size: em-calc(130);
				}
				line-height: 1em;
				&.txt-up {
					margin-left: -5px;
				}
				&.txt-down {
					margin-left: 8px;
					letter-spacing: em-calc(2);
				}
			}
			.middle-text {
				border-top: 1px solid #999999;
				border-bottom: 1px solid #999999;
				margin: 10px 12px;
				padding-top: 24px;
				padding-bottom: 24px;
				@media #{$large} {
					margin: 40px 12px;
					padding-left: 30px;
					padding-right: 30px;
				}
				line-height: em-calc(21);
			}
		}
		&#autor-tagebuch {
			.widget-container {
				padding: 10px 0;
			}
			h4.widget-title, h4.widget-subtitle {
				@include walsheim_upper;
				font-size: em-calc(18);
				line-height: 1;
				margin: 0;
			}
			.autor-avatar {
				margin: 10px;
				display: block;
			}
		}
		&#pressebox {
			h4.widget-title {
				font-size: em-calc(34);
				@media #{$medium} {
					font-size: em-calc(30);	
				}			
				text-align: center;
				@include walsheim_upper;
				line-height: 1;
				margin: 0 26px;
				padding: 20px 0 30px;
				border-bottom: 1px solid silver;
			}
			ul.no-bullet {
				margin-bottom: 0;
				li {
					border-bottom: 1px solid silver;
					margin: 0 26px;
					article.update-entry {
						padding: 40px 0 26px;
						h3.update-title {
							font-size: em-calc(26);
							line-height: 1;
							text-align: center;
							margin: 0;
							text-transform: uppercase;
							@include minion;
						}
						.update-date, .update-content {
							margin-bottom: 20px;
							text-align: center;
						}
					}
					&:last-child {
						border-bottom: 0;
					}				
				}				
			}
		}
	}
}
.tablet {
	#secondary {
		margin-top: 60px !important;
		margin-bottom: 60px !important;
		aside.widget {
			margin-right: 0;
			.widget-container {
				@media #{$portrait} {			
					min-height: 400px;
				}
				@media #{$landscape} {			
					min-height: 450px;
				}

			}
			&#promoted-autor, &#promoted-page {
				.widget-container {
					.autor-thumbnail {
						@media #{$landscape} {			
							width: 237px;
						}
					}
				}
			}
		}
	}
}
.mobile {
	#secondary {
		margin-bottom: 45px;	
		display: inline-block;
		aside.widget {
			margin-right: 0;
			.widget-container {
				min-height: 320px;
			}
			&#day-recipe {
				a.recipe-thumbnail {
					.recipe-meta {
						@media #{$portrait} {					
							left: 15%;
							right: 15%;
						}
						@media #{$landscape} {
							left: 20%;
							right: 20%;
						}
					}
				}
			}
		}
	}
}
