.single {
	#secondary {
		top: 222px;
	}	
	article {
		header.entry-header {
			position: relative;		
			h1.entry-title {
				@include minion_upper;
				margin: 0 0 29px;
				letter-spacing: em-calc(1);	
				line-height: 1;			
			}
			.entry-meta {
				position: relative;
				display: inline-block;
				width: 100%;
				.entry-author {
					margin-bottom: 52px;
					@include post-author;					
				}
			}						
		}
	}
	#related-products {
		.related-product {
			border-top: 1px solid $Gray;
			padding-top: 22px;
			padding-bottom: 70px;			
		}
		.product-info-inner {
			padding-left: 25px;
			display: block;
		}
		h3.product-title {
			font-size: em-calc(25);
			margin: 5px 0 22px;
			@include minion_upper;
		}
		.product-price {
			.price {
				font-size: em-calc(30);
				margin-right: 10px;
			}			
			small {
				font-size: em-calc(13);
			}			
		}
		.shopping-butons  {
			margin-top: 18px;
			.button {
				margin: 0 0 5px;
				font-size: em-calc(13);
				font-weight: normal;
				width: 100%;
				img {
					margin-right: 10px;
				}
			}			
		}
		a.bookmark-link {
			top: -22px;
			right: 0;
		}
	}
	#post-nav {
		border-top: 1px solid $Gray;
		border-bottom: 1px solid $Gray;
		padding-top: 22px;
		padding-bottom: 22px;
		background-image: url('../img/pixel-gray.gif');
		background-repeat: repeat-y;
		background-position: center top;
		@media only screen and (max-width: #{$small-screen}) {
			img {
				margin-bottom: 10px;
			}
		}
		.previous, .next {
			@include minion;
			text-transform: uppercase;
			margin-bottom: 9px;	
			font-size: em-calc(13);
			text-align: center !important;
			width: 100%;
			display: inline-block;
		}
		.previous:before {
			content: "<";
			position: absolute;
			left: 10px;
			top: 0;
			padding-right: 10px;
		}
		.next:after {
			content: ">";
			position: absolute;
			right: 10px;
			top: 0;
			padding-left: 10px;
		}
		h4.entry-title {
			margin: 22px 0 0;
			@include walsheim;
			text-transform: inherit;
			font-size: em-calc(13);
		}
	}
	&.single-post {
		h4.site-section-title {
			@include walsheim_upper;
		}
	}
	&.desktop {
		article {
			header.entry-header {
				@media #{$medium} {
					margin-right: -45.5% !important;
				}
				@media #{$large} {
					margin-right: -45.5% !important;
				}
			}
		}
	}
	&.mobile {	
		article {
			header.entry-header {
				h1.entry-title {
					font-size: em-calc(44);
				}
			}
		}
		&.single-post {
			h4.site-section-title {
				font-size: em-calc(20);
			}
		}
	}
}
@import "produkt";
@import "autor-author";
@import "yarpp";