@import "callwey-fonts";
@import "../inc/foundation/scss/variables";
@import "bourbon";
@import "callwey-mixins";
@import "common";
@import "header";
@import "sidebar";
@import "home";
@import "single";
@import "page";
@import "blog";
@import "related-site-content";
@import "zeitschrift";
@import "register-form";
@import "login-form";
@import "wishlist";
@import "basket";
@import "kategorie";
@import "organisation";
@import "jobs";
@import "cforms7";
@import "footer";
@import "fancybox";
@import "firefox";

/*
body  {
	background-image: url('../img/baseline-22.png') !important;
	background-position: center top;
	background-repeat: repeat-y;
	#page {
		background-image: url('../img/grid-18.png') !important;
		background-position: center top;
		background-repeat: repeat-y;
	}
}
*/