#timeline {
	.timeline-wrapper {
		@media #{$medium-portrait} {	
			background-image: url('../img/pixel-gray.gif');
			background-repeat: repeat-y;
			background-position: center top;
		}
		display: inline-block;
		h4.section-title {
			text-align: center;
			font-size: em-calc(13);
			border-bottom-color: silver !important;
			margin: 0 10px 50px;
			padding: 60px 0 20px;
			background-color: white;
		}
		p.timeline-footer {
			margin: 30px 0 0;
			padding: 0 20% 30px;
			display: inline-block;
			background-color: white;
			text-align: center;
			@include paragraphsize;
			font-size: em-calc(13);
			@media #{$medium-portrait} {
				padding-bottom: 0;
			}
		}
		.timeline-item {
/*
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
*/
			margin-bottom: 25px;
			&.top-margin {
				margin-top: 80px;
			}
			.timeline-entry {
				border: 1px solid silver;
				padding: 50px 32px 32px;
				position: relative;
				.timeline-date {
					@media #{$medium-portrait} {
						position: absolute;
						top: 15px;						
					}
					font-size: em-calc(26);
					background-color: white;
					line-height: 1;
					padding: 5px 0;
					.timeline-line {
						@media #{$medium-portrait} {
							position: absolute;
							bottom: 0;
							right: 0;
							left: 0;
						}
						border-bottom: 1px solid silver;
						@media #{$medium-portrait} {
							.timeline-dot {
								width: 7px;
								height: 7px;
								bottom: -4px;
								background-color: gray;
								border-radius: 1000px;
								position: absolute;
							}
						}
					}
				}
				.timeline-content {
					@include paragraphsize;
					font-size: em-calc(13);
					line-height: 1;
				}
				img.wp-post-image {
					width: 100%;
				}
			}
			@media #{$medium-portrait} {			
				&.impar {
					float: left;
					.timeline-entry {
						margin-right: 48px;					
						.timeline-date {
							right: -30px;
							.timeline-line {
								right: -33px;
								.timeline-dot {
									right: 0;
								}
							}
						}
					}
				}
				&.par {
					float: right;
					.timeline-entry {
						margin-left: 48px;					
						.timeline-date {
							left: -30px;
							.timeline-line {
								left: -33px;
								.timeline-dot {
									left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}