/*
#magento-connect .bookmark.open {
    border: 1px solid red;
    border-bottom: 0px solid;
    background-color: blue;
}
*/
/*
a[data-dropdown="wishlist_dropdown"].open {
    border: 1px solid #000;
    border-bottom: 0px solid;
}
*/
#wishlist_dropdown.custom-left {
    left: -192px;
}
.empty-wishlist {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	display: inline-block;
}
#wishlist_dropdown {
	padding: 10px 22px;
	width: 385px !important;
	margin-top: 16px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	z-index: 999;
	&:before, &:after {
		display: none !important;
	}
	.close-wishlist {
		box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
		position: absolute;
		right: -1px;
		top: -48px;
		height: 48px;
		background-color: white;
		border: 1px solid $Gray;
		border-bottom: 0;
		padding: 16px 7px 0 0 !important;
		width: 192px;
		text-align: right;
/* 		font-size: em(15.4) !important; */
		line-height: 1;
/* 		letter-spacing: em(3.2) !important; */
		z-index: 998;
		&:before {
			content: "";
			background-image: url('../img/icon-wishlist.png');
			background-position: center top;
			background-repeat: no-repeat;
			background-color: #024a94;
			position: absolute;
			left: 16px;
			top: 10px;
			width: 9px;
			height: 31px;
		}
		&:after {
			content: "";
			background-color: white;
			position: absolute;
			bottom: -9px;
			left:0;
			right: 0;
			height: 10px;
		}
	}
	table {
		border: 0;
		margin-bottom: 10px;
		thead {
			th {
				@include minion_upper;
			}			
		}
		tbody {
			margin-top: 10px;
			border-top: 1px solid silver;
			border-bottom: 1px solid silver;			
			tr {
				td {
					border-bottom: 1px solid silver;
					vertical-align: top;
					.product-thumbnail {
						width: 96px;
						float: left;
					}
					a.product-title, strong.product-price {
						display: inline-block;
					}
					a.product-title {
/* 						font-size: em(13) !important; */
						text-transform: uppercase;
						margin-top: 10px;
					}
					strong.product-price {
/* 						font-size: em(25); */
						padding-top: 10px;
					}
				}				
			}
		}
	}
	.produkt-title {
		@include walsheim_upper;
		line-height: 1;
	}
	.produkt-price {
/* 		font-size: em(25); */
		line-height: 1;
	}
	a.button {
		background-color: white;
		color: black;
/* 		font-size: em(13); */
		margin: 0;
	}
}
#wishlist-page {
	#primary {
		background-image: url('../img/wishlist-background.png');
		background-position: left 30px;
		@media #{$medium} {		
			background-position: left top;
		}
	}
}
section#my-wishlist {
	ul#wishlist-products {
		li {
			margin-bottom: 30px;
			.book-item {
				text-align: center;			
				.book {
					display: table;
					width: 100%;
					a.book-thumbnail {
						display: table-cell;
						vertical-align: middle;
						height: 230px;
						min-height: 230px;
					}
				}
				header.book-header {
					display: table;
					width: 100%;
					min-height: 90px;
					h3.book-title {
						display: table-cell;
						vertical-align: middle;
						@include walsheim;
						font-size: em-calc(13);
						line-height: 1;
						margin: 30px 0;
						
					}					
				}
			}
			.product-actions {
				.button {
					font-size: em-calc(10);
					margin-bottom: 0;
					padding: 10px 5px;
					width: 100%;
					img {
						margin-right: 5px;
					}
					&.remove {
						border: 0;
						background: transparent;
						background-color: transparent;
						color: $Gray;
					}
				}
			}
		}
	}

}
