#related-posts {
	margin-top: 65px;
	.yarpp-related {
		padding-top: 10px;
	}
	.related-posts {
		li {
			a.entry-thumbnail {
				width: 100%;
				float: left;
				margin-bottom: 20px;
			}
			h2 {
				@include walsheim;
				font-size: em(17);
				margin: 0;
				font-weight: normal !important;
				a {
					font-weight: normal !important;
				}
			}
		}
	}
}
.desktop.single.single-rezepte {
	#related-posts {
		margin-top: 300px;
	}
}