#magazine-list {
	margin-top: 110px;
	border-bottom: 1px solid silver;
	li {
		margin-bottom: 115px;
	}
	h4.magazine-categorie {
		@include walsheim_upper;
		font-size: em-calc(13.3);
		border-bottom: 1px solid silver;
		margin: 0;
		display: table;
		width: 100%;
		height: 50px;
		a {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.magazine-thumbnail {
		display: table;
		.magazine-cell {
			display: table-cell;
			vertical-align: middle;	
			height: auto;					
			@media #{$medium-portrait} {
				height: 350px;
			}
			@media #{$medium} {
				height: 500px;
			}
			a {
				float: left;
				margin: 30px 10px;
				@media #{$medium-portrait} {
					margin: 10px;
				}
				@media #{$medium} {
					margin: 0 50px;
				}
				img {
					border: 1px solid gray;
					box-shadow: 10px 10px 60px -10px black;
					float: left;
				}
			}
		}
	}
	h2.magazine-title {
		font-size: em-calc(38);
		@include walsheim_upper;
		margin: 0 0 40px;
		display: table;
		width: 100%;
		height: 110px;
		a {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.magazine-description {
		height: auto;
		padding-bottom: 30px;
		@media #{$medium-portrait} {	
			height: 350px;
			padding-bottom: 0;
		}
		@media #{$medium} {	
			height: 300px;
			padding-bottom: 0;
		}
		@media #{$large} {	
			height: 200px;
			padding-bottom: 0;
		}
		p {
			@include paragraphsize;
			font-size: em-calc(13);
		}
	}
	.magazine-url {
		@include minion_upper;
		letter-spacing: em-calc(4);
		@media #{$medium-portrait} {	
			letter-spacing: em-calc(1);
		}
		@media #{$medium} {	
			letter-spacing: em-calc(4);
		}
		display: block;
	}
}
.desktop {
	&.firefox {
		#magazine-list {
			.magazine-thumbnail {
				.magazine-cell {
					a img {
						width: 100%;
					}
				}
			}
		}
	}
}