<fieldset>
<legend>Wir senden Ihnen gerne Informationen zu. Bitte füllen Sie herzu untenstehendes Formular aus, damit wir Ihnen möglichst schnell das gewünschte Material zur Verfügung stellen können.</legend>
<div class="row"><div id="type-radio" class="medium-9 medium-centered columns">[checkbox type use_label_element "Waschzettel" "Fotos" "Cover-Fotos" "Kontakt zum Autor"]</div></div>
<div id="textareas" class="row">
<div class="medium-6 columns"><label>WELCHE TITEL BETRIFFT DAS?</label>[textarea textarea-179 class:radius]</div>
<div class="medium-6 columns"><label>SIE SCHREIBEN FÜR?</label>[textarea textarea-930 class:radius]</div>
<div class="medium-6 columns"><label>IHRE THEMENSCHWERPUNKTE</label>[textarea textarea-985 class:radius]</div>
</div>
<div id="geschlecht" class="row">
<div class="medium-3 columns">
<label>Geschlecht</label>
</div>
<div class="medium-15 columns">
[radio geschlecht use_label_element "Herr" "Frau"]
</div>
</div>
<div id="form-fields" class="row">
<div class="medium-9 columns">
<div class="row">
<div class="medium-5 columns"><label for="form-field-titel" class="left inline">Titel</label></div><div class="medium-13 columns">[text title id:form-field-titel class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-vorname" class="left inline">Vorname *</label></div><div class="medium-13 columns">[text* your-name id:form-field-vorname class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-nachname" class="left inline">Nachname</label></div><div class="medium-13 columns">[text nachname id:form-field-nachname class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-firma" class="left inline">Firma</label></div><div class="medium-13 columns">[text firma id:form-field-firma class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-zusatz" class="left inline">Zusatz</label></div><div class="medium-13 columns">[text zusatz id:form-field-zusatz class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-strasse" class="left inline">Strasse</label></div><div class="medium-13 columns">[text strasse id:form-field-strasse class:radius]</div>
</div>
</div>
<div class="medium-9 columns">
<div class="row">
<div class="medium-5 columns"><label for="form-field-hausnummer" class="left inline">Hausnummer</label></div><div class="medium-13 columns">[text hausnummer id:form-field-hausnummer class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-plz" class="left inline">PLZ</label></div><div class="medium-13 columns">[text plz id:form-field-plz class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-ort" class="left inline">Ort</label></div><div class="medium-13 columns">[text ort id:form-field-ort class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-telefon" class="left inline">Telefon</label></div><div class="medium-13 columns">[tel telefon id:form-field-telefon class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-telefax" class="left inline">Telefax</label></div><div class="medium-13 columns">[tel telefax id:form-field-telefax class:radius]</div>
</div>
<div class="row">
<div class="medium-5 columns"><label for="form-field-email" class="left inline">E-Mail *</label></div><div class="medium-13 columns">[email* your-email id:form-field-email class:radius]</div>
</div>
</div>
</div>
<div id="your-message" class="row">
<div class="medium-2 columns"><label for="form-field-message" class="left inline">Sonstiges</label></div>
<div class="medium-9 columns">[textarea your-message id:form-field-message class:radius]</div>
<div class="medium-7 columns"><div class="captcha-container">[captchac captcha-461 size:l][captchar captcha-461 class:radius]</div></div>
</div>
<div class="row">
<div class="medium-18 columns">
[submit class:right class:button class:round class:button-noshadow "Absenden"]
</div>
</div>
</fieldset>



Von: [title] [your-name] [nachname] <[your-email]>
Betreff: [type]

Nachrichtentext:
[type]

WELCHE TITEL BETRIFFT DAS?
[textarea-179]

SIE SCHREIBEN FÜR?
[textarea-930]

IHRE THEMENSCHWERPUNKTE
[textarea-985]

Geschlecht
[geschlecht]

Firma: [firma]
Zusatz: [zusatz]
Strasse: [strasse]
Hausnummer: [hausnummer]
PLZ: [plz]
Ort: [ort]
Telefon: [telefon]
Telefax: [telefax]



[your-message]

--
Diese E-Mail wurde von einem Kontaktformular von Callwey Theme (http://callwey-dev.elektroroyal.com) gesendet