//Taken from Foundation 4 _settings.scss. Put this file and ie-8-and-down.scss into the SASS Directory of your Foundation 4 install
//@import '_settings';

//Internet Explorer Size Settings
$full-width: 1280px;

$size-full: 100%;
$size-0: 0%;
$size-1: 5.55556%;
$size-2: 11.11111%;
$size-3: 16.66667%;
$size-4: 22.22222%;
$size-5: 27.77778%;
$size-6: 33.33333%;
$size-7: 38.88889%;
$size-8: 44.44444%;
$size-9: 50%;
$size-10: 55.55556%;
$size-11: 61.11111%;
$size-12: 66.66667%;
$size-13: 72.22222%;
$size-14: 77.77778%;
$size-15: 83.33333%;
$size-16: 88.88889%;
$size-17: 94.44444%;
$size-18: 100%;

//Used to extend where needed
%left {
	float: left;
}
