@import '../scss/variables';
@import 'lt-ie8-foundation-box-sizing';
@import 'ie-settings';


/* The Grid ---------------------- */
.ie8 {
	.hide-ie, .show-for-small, .show-for-medium-down, .hide-for-medium-up {display: none !important; visibility: hidden !important;}
	.hide-for-small {display: block !important; visibility: visible !important;}

	.row {
		
		width: $full-width; 
		max-width: $size-full; 
		min-width: $small-screen; 
		margin: 0 auto;
		.row {
			width: auto; 
			max-width: none; 
			min-width: 0; 
			margin: 0 -15px;
			
			&.large-collapse, &.medium-collapse { 
				margin: 0; 
			}
		}
		&.large-collapse, &.medium-collapse {
			.columns {
				padding: 0;
			}
		}
		*zoom: 1;
		&:before,&:after {
			content: " "; 
			display: table;		
		}
		&:after {
			clear: both;		
		}
	}
	.column,.columns {
		@extend %left;
		min-height: 1px; 
		padding: 0 15px; 
		position: relative;
	}
	.column {
		.large-centered { 
			float: none; 
			margin: 0 auto; 
		}
		.medium-centered { 
			float: none; 
			margin: 0 auto; 
		}
	}
	[class*="column"] + [class*="column"] {
		&:last-child {
			float: right;		
		}
		&.end {
			@extend %left;
		}
	}
		
/* 	@media only screen and (min-width: $small-screen) { */
		.medium-1 {
			&,.row & {
				width: $size-1;
			}
		}
		.medium-2 {
			&,.row & {
				width: $size-2;
			}
		}
		.medium-3 {
			&,.row & {
				width: $size-3;
			}
		}
		.medium-4 {
			&,.row & {
				width: $size-4;
			}
		}
		.medium-5 {
			&,.row & {
				width: $size-5;
			}
		}
		.medium-6 {
			&,.row & {
				width: $size-6;
			}
		}
		.medium-7 {
			&,.row & {
				width: $size-7;
			}
		}
		.medium-8 {
			&,.row & {
				width: $size-8;
			}
		}
		.medium-9 {
			&,.row & {
				width: $size-9;
			}
		}
		.medium-10 {
			&,.row & {
				width: $size-10;
			}
		}
		.medium-11 {
			&,.row & {
				width: $size-11;
			}
		}
		.medium-12 {
			&,.row & {
				width: $size-12;
			}
		}
		.medium-13 {
			&,.row & {
				width: $size-13;
			}
		}
		.medium-14 {
			&,.row & {
				width: $size-14;
			}
		}
		.medium-15 {
			&,.row & {
				width: $size-15;
			}
		}
		.medium-16 {
			&,.row & {
				width: $size-16;
			}
		}
		.medium-17 {
			&,.row & {
				width: $size-17;
			}
		}
		.medium-18 {
			&,.row & {
				width: $size-18;
			}
		}
		.medium-offset-1 {
			margin-left: $size-1;
		}
		.medium-offset-2 {
			margin-left: $size-2;		
		}
		.medium-offset-3 { 
			margin-left: $size-3; 
		}
		.medium-offset-4 { 
			margin-left: $size-4; 
		}
		.medium-offset-5 { 
			margin-left: $size-5; 
		}
		.medium-offset-6 { 
			margin-left: $size-6; 
		}
		.medium-offset-7 { 
			margin-left: $size-7; 
		}
		.medium-offset-8 { 
			margin-left: $size-8; 
		}
		.medium-offset-9 { 
			margin-left: $size-9; 
		}
		.medium-offset-10 { 
			margin-left: $size-10; 
		}
		.medium-offset-11 { 
			margin-left: $size-11; 
		}
		.medium-offset-12 { 
			margin-left: $size-12; 
		}
		.medium-offset-13 { 
			margin-left: $size-13; 
		}
		.medium-offset-14 { 
			margin-left: $size-14; 
		}
		.medium-offset-15 { 
			margin-left: $size-15; 
		}
		.medium-offset-16 { 
			margin-left: $size-16; 
		}
		.medium-offset-17 { 
			margin-left: $size-17; 
		}
		
		.medium-pull-1 { right: $size-1; left: auto; }
		.medium-pull-2 { right: $size-2; left: auto; }
		.medium-pull-3 { right: $size-3; left: auto; }
		.medium-pull-4 { right: $size-4; left: auto; }
		.medium-pull-5 { right: $size-5; left: auto; }
		.medium-pull-6 { right: $size-6; left: auto; }
		.medium-pull-7 { right: $size-7; left: auto; }
		.medium-pull-8 { right: $size-8; left: auto; }
		.medium-pull-9 { right: $size-9; left: auto; }
		.medium-pull-10 { right: $size-10; left: auto; }
		.medium-pull-11 { right: $size-11; left: auto; }
		.medium-pull-12 { right: $size-12; left: auto; }
		.medium-pull-13 { right: $size-13; left: auto; }
		.medium-pull-14 { right: $size-14; left: auto; }
		.medium-pull-15 { right: $size-15; left: auto; }
		.medium-pull-16 { right: $size-16; left: auto; }
		.medium-pull-17 { right: $size-17; left: auto; }
		.medium-pull-18 { right: $size-18; left: auto; }

		.medium-push-1 { left: $size-2; right: auto; }		
		.medium-push-2 { left: $size-2; right: auto; }
		.medium-push-3 { left: $size-3; right: auto; }
		.medium-push-4 { left: $size-4; right: auto; }
		.medium-push-5 { left: $size-5; right: auto; }
		.medium-push-6 { left: $size-6; right: auto; }
		.medium-push-7 { left: $size-7; right: auto; }
		.medium-push-8 { left: $size-8; right: auto; }
		.medium-push-9 { left: $size-9; right: auto; }
		.medium-push-10 { left: $size-10; right: auto; }
		.medium-push-11 { left: $size-11; right: auto; }		
		.medium-push-12 { left: $size-12; right: auto; }
		.medium-push-13 { left: $size-13; right: auto; }
		.medium-push-14 { left: $size-14; right: auto; }
		.medium-push-15 { left: $size-15; right: auto; }
		.medium-push-16 { left: $size-16; right: auto; }
		.medium-push-17 { left: $size-17; right: auto; }
		.medium-push-18 { left: $size-18; right: auto; }
		
		.medium-block-grid-2 {
		    list-style: none
		}
		
		.medium-block-grid-2 li {
		    float: left;
		    width: 50%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-2 li:first-child+li {
		    float: right
		}
		
		.medium-block-grid-2 li:first-child+li+li {
		    clear: both
		}
		
		.medium-block-grid-3 {
		    list-style: none
		}
		
		.medium-block-grid-3 li {
		    float: left;
		    width: 33.3333%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-3 li:first-child+li+li {
		    float: right
		}
		
		.medium-block-grid-3 li:first-child+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-4 {
		    list-style: none
		}
		
		.medium-block-grid-4 li {
		    float: left;
		    width: 25%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-4 li:first-child+li+li+li {
		    float: right
		}
		
		.medium-block-grid-4 li:first-child+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-5 {
		    list-style: none
		}
		
		.medium-block-grid-5 li {
		    float: left;
		    width: 20%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-5 li:first-child+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-5 li:first-child+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-6 {
		    list-style: none
		}
		
		.medium-block-grid-6 li {
		    float: left;
		    width: 16.6667%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-6 li:first-child+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-6 li:first-child+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-7 {
		    list-style: none
		}
		
		.medium-block-grid-7 li {
		    float: left;
		    width: 14.2857142%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-7 li:first-child+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-7 li:first-child+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-8 {
		    list-style: none
		}
		
		.medium-block-grid-8 li {
		    float: left;
		    width: 12.5%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-8 li:first-child+li+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-8 li:first-child+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-9 {
		    list-style: none
		}
		
		.medium-block-grid-9 li {
		    float: left;
		    width: 11.111111%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-9 li:first-child+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-9 li:first-child+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-10 {
		    list-style: none
		}
		
		.medium-block-grid-10 li {
		    float: left;
		    width: 10%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-11 {
		    list-style: none
		}
		
		.medium-block-grid-11 li {
		    float: left;
		    width: 9.0909%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.medium-block-grid-12 {
		    list-style: none
		}
		
		.medium-block-grid-12 li {
		    float: left;
		    width: 8.333333%;
		    padding: 0 10px 10px;
		}
		
		.medium-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.medium-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
			
/* 	} */

/*
	@media only screen and (min-width: $medium-screen) {
		.large-1 {
			&,.row & {
				width: $size-1;
			}
		}
		.large-2 {
			&,.row & {
				width: $size-2;
			}
		}
		.large-3 {
			&,.row & {
				width: $size-3;
			}
		}
		.large-4 {
			&,.row & {
				width: $size-4;
			}
		}
		.large-5 {
			&,.row & {
				width: $size-5;
			}
		}
		.large-6 {
			&,.row & {
				width: $size-6;
			}
		}
		.large-7 {
			&,.row & {
				width: $size-7;
			}
		}
		.large-8 {
			&,.row & {
				width: $size-8;
			}
		}
		.large-9 {
			&,.row & {
				width: $size-9;
			}
		}
		.large-10 {
			&,.row & {
				width: $size-10;
			}
		}
		.large-11 {
			&,.row & {
				width: $size-11;
			}
		}
		.large-12 {
			&,.row & {
				width: $size-12;
			}
		}
		.large-13 {
			&,.row & {
				width: $size-13;
			}
		}
		.large-14 {
			&,.row & {
				width: $size-14;
			}
		}
		.large-15 {
			&,.row & {
				width: $size-15;
			}
		}
		.large-16 {
			&,.row & {
				width: $size-16;
			}
		}
		.large-17 {
			&,.row & {
				width: $size-17;
			}
		}
		.large-18 {
			&,.row & {
				width: $size-18;
			}
		}		
		.large-offset-1 {
			margin-left: $size-1;
		}
		.large-offset-2 {
			margin-left: $size-2;		
		}
		.large-offset-3 { 
			margin-left: $size-3; 
		}
		.large-offset-4 { 
			margin-left: $size-4; 
		}
		.large-offset-5 { 
			margin-left: $size-5; 
		}
		.large-offset-6 { 
			margin-left: $size-6; 
		}
		.large-offset-7 { 
			margin-left: $size-7; 
		}
		.large-offset-8 { 
			margin-left: $size-8; 
		}
		.large-offset-9 { 
			margin-left: $size-9; 
		}
		.large-offset-10 { 
			margin-left: $size-10; 
		}
		.large-offset-11 { 
			margin-left: $size-11; 
		}
		.large-offset-12 { 
			margin-left: $size-12; 
		}
		.large-offset-13 { 
			margin-left: $size-13; 
		}
		.large-offset-14 { 
			margin-left: $size-14; 
		}
		.large-offset-15 { 
			margin-left: $size-15; 
		}
		.large-offset-16 { 
			margin-left: $size-16; 
		}
		.large-offset-17 { 
			margin-left: $size-17; 
		}

		.large-pull-1 { right: $size-1; left: auto; }
		.large-pull-2 { right: $size-2; left: auto; }
		.large-pull-3 { right: $size-3; left: auto; }
		.large-pull-4 { right: $size-4; left: auto; }
		.large-pull-5 { right: $size-5; left: auto; }
		.large-pull-6 { right: $size-6; left: auto; }
		.large-pull-7 { right: $size-7; left: auto; }
		.large-pull-8 { right: $size-8; left: auto; }
		.large-pull-9 { right: $size-9; left: auto; }
		.large-pull-10 { right: $size-10; left: auto; }
		.large-pull-11 { right: $size-11; left: auto; }
		.large-pull-12 { right: $size-12; left: auto; }
		.large-pull-13 { right: $size-13; left: auto; }
		.large-pull-14 { right: $size-14; left: auto; }
		.large-pull-15 { right: $size-15; left: auto; }
		.large-pull-16 { right: $size-16; left: auto; }
		.large-pull-17 { right: $size-17; left: auto; }
		.large-pull-18 { right: $size-18; left: auto; }

		.large-push-1 { left: $size-2; right: auto; }		
		.large-push-2 { left: $size-2; right: auto; }
		.large-push-3 { left: $size-3; right: auto; }
		.large-push-4 { left: $size-4; right: auto; }
		.large-push-5 { left: $size-5; right: auto; }
		.large-push-6 { left: $size-6; right: auto; }
		.large-push-7 { left: $size-7; right: auto; }
		.large-push-8 { left: $size-8; right: auto; }
		.large-push-9 { left: $size-9; right: auto; }
		.large-push-10 { left: $size-10; right: auto; }
		.large-push-11 { left: $size-11; right: auto; }		
		.large-push-12 { left: $size-12; right: auto; }
		.large-push-13 { left: $size-13; right: auto; }
		.large-push-14 { left: $size-14; right: auto; }
		.large-push-15 { left: $size-15; right: auto; }
		.large-push-16 { left: $size-16; right: auto; }
		.large-push-17 { left: $size-17; right: auto; }
		.large-push-18 { left: $size-18; right: auto; }
		
		.large-block-grid-2 {
		    list-style: none
		}
		
		.large-block-grid-2 li {
		    float: left;
		    width: 50%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-2 li:first-child+li {
		    float: right
		}
		
		.large-block-grid-2 li:first-child+li+li {
		    clear: both
		}
		
		.large-block-grid-3 {
		    list-style: none
		}
		
		.large-block-grid-3 li {
		    float: left;
		    width: 33.3333%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-3 li:first-child+li+li {
		    float: right
		}
		
		.large-block-grid-3 li:first-child+li+li+li {
		    clear: both
		}
		
		.large-block-grid-4 {
		    list-style: none
		}
		
		.large-block-grid-4 li {
		    float: left;
		    width: 25%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-4 li:first-child+li+li+li {
		    float: right
		}
		
		.large-block-grid-4 li:first-child+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-5 {
		    list-style: none
		}
		
		.large-block-grid-5 li {
		    float: left;
		    width: 20%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-5 li:first-child+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-5 li:first-child+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-6 {
		    list-style: none
		}
		
		.large-block-grid-6 li {
		    float: left;
		    width: 16.6667%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-6 li:first-child+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-6 li:first-child+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-7 {
		    list-style: none
		}
		
		.large-block-grid-7 li {
		    float: left;
		    width: 14.2857142%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-7 li:first-child+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-7 li:first-child+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-8 {
		    list-style: none
		}
		
		.large-block-grid-8 li {
		    float: left;
		    width: 12.5%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-8 li:first-child+li+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-8 li:first-child+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-9 {
		    list-style: none
		}
		
		.large-block-grid-9 li {
		    float: left;
		    width: 11.111111%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-9 li:first-child+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-10 {
		    list-style: none
		}
		
		.large-block-grid-10 li {
		    float: left;
		    width: 10%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-11 {
		    list-style: none
		}
		
		.large-block-grid-11 li {
		    float: left;
		    width: 9.0909%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
		
		.large-block-grid-12 {
		    list-style: none
		}
		
		.large-block-grid-12 li {
		    float: left;
		    width: 8.333333%;
		    padding: 0 10px 10px;
		}
		
		.large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
		    float: right
		}
		
		.large-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li+li {
		    clear: both
		}
	
	}
*/
}
